.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.0%;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    color: white;
}

.balance-info {
    width: 400px;
    cursor: default;
}

.toolbar {
    top: 0 !important;
    display: flex !important;
    justify-content: space-between !important;
    position: sticky !important;
    z-index: 2 !important;
    padding: 0;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
}

.fullscreen-icon {
    width: 28px;
    height: 28px;
    font-size: 28px;
}

.user-name {
    border-radius: 50%;
}

.round {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
}

.arrow-down-container {
    height: 40px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-name-button {
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
}

.vertical-divider {
    width: 1px;
    height: 50px;
    margin: 0 11px;
    background-color: rgba(241, 245, 249, 0.12);
}