<mat-toolbar class="toolbar" *ngIf="authenticationService.currentUserValue">


    <span>
        <button *ngIf="this.breakpointService.screenSize == 'mobile' && !sidebarService.isOpened" class="menu-item" mat-icon-button
            (click)="sidebarService.toggleSideBar()" style="margin-left: 18px;">
            <mat-icon class="{{sharedService.theme}}-icon">
                menu
            </mat-icon>
        </button>
    </span>
    <div class="menu-container">

        <div *ngIf="this.breakpointService.screenSize != 'mobile'" class="menu-item pointer" (click)="toggleDarkMode()">
            <i *ngIf="!this.sharedService?.darkMode" style="font-size: 30px;"
                class="material-icons primary-icon">nights_stay</i>
            <mat-icon *ngIf="this.sharedService?.darkMode" class="fullscreen-icon primary-icon">wb_sunny
            </mat-icon>
        </div>

        <div class="flex-centered">
            <button class="user-name-button" mat-icon-button color="primary" [matMenuTriggerFor]="userMenu">
                <div class="user-name fw-500 title">
                    {{ firstName?.charAt(0) | uppercase }}{{ lastName?.charAt(0) | uppercase }}
                </div>
            </button>
            <div [matMenuTriggerFor]="userMenu" class="pointer arrow-down-container">
                <mat-icon class="menu-item primary-icon" style="margin-right: 0;">keyboard_arrow_down
                </mat-icon>
            </div>

            <mat-menu xPosition="before" class="user-menu" #userMenu="matMenu">
                <button class="title" mat-menu-item>Logged in as
                    {{ firstName | titlecase }}
                    {{ lastName | titlecase }}</button>
                <mat-divider style="width: 100%;"></mat-divider>

                <button class="title" mat-menu-item [matMenuTriggerFor]="balance">
                    <mat-icon class="primary-icon">account_balance_wallet</mat-icon> Balance
                </button>
                <mat-divider style="width: 100%;"></mat-divider>
                <button class="title" mat-menu-item [matMenuTriggerFor]="themes">
                    <mat-icon class="primary-icon">color_lens</mat-icon> Themes
                </button>
                <mat-divider style="width: 100%;"></mat-divider>
                <button class="title" (click)="switchAccount()" mat-menu-item>
                    <mat-icon class="primary-icon">account_circle</mat-icon>Switch Account
                </button>
                <mat-divider style="width: 100%;"></mat-divider>
                <button class="title" (click)="logout()" mat-menu-item>
                    <mat-icon class="primary-icon">exit_to_app</mat-icon>Logout
                </button>
            </mat-menu>

            <mat-menu #themes="matMenu">
                <button *ngFor="let theme of themesArray" mat-menu-item
                    class="flex-centered title" style="justify-content: inherit; width: 200px;"
                    (click)="changeThemeColor(theme)">
                    <div class="round" [style.background-color]="theme.color"></div>
                    <span>{{theme.name}}</span>
                </button>
            </mat-menu>

            <mat-menu #balance="matMenu">
               <div (click) = "$event.stopPropagation()" class="balance-info">
                    <div style="padding: 16px;font-size: 16px;display: flex;align-items: center;">
                        <mat-icon class="primary-icon">
                            account_balance_wallet
                        </mat-icon>
                        <span class="title" style="margin-left: 16px;">
                            Balance
                        </span>
                    </div>

                    <mat-divider></mat-divider>

                    <div style="max-height: 156px;overflow: auto;">
                        <div *ngFor="let bal of accountService?.account?.balance | keyvalue" class="title" style="padding: 16px;display: flex;justify-content: space-between;align-items: center;">
                            <div>
                                {{bal?.key | flag}} {{bal?.key}}
                            </div>
                            <div>
                                {{bal?.value | number:'1.0':'en-US'}} {{ bal?.key| currencySymbol }}
                            </div>
                        </div>
                    </div>
                    
               </div>
            </mat-menu>

        </div>
        <mat-divider *ngIf="breakpointService.screenSize != 'mobile'" [vertical]="true" class="vertical-divider"></mat-divider>

        <clock *ngIf="breakpointService.screenSize != 'mobile'"></clock>
    </div>
</mat-toolbar>