.no-data {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 57px;
    position: absolute;
    height: calc(100% - 56px);
    background: var(--secondary);
    color: var(--card-title);
    flex-direction: column;
}