<mat-drawer-container class="example-container {{sharedService.theme}}-body" autosize>
    <mat-drawer #drawer class="example-sidenav {{sharedService.theme}}-table" mode="over" position="end">
        <!-- <app-expense-detail (onCloseAction)="drawer.toggle()" [expenseViewId]="expenseViewId"></app-expense-detail> -->
        <app-income-details (onCloseAction)="drawer.toggle()" [incomeViewId]="incomeViewId"></app-income-details>
    </mat-drawer>

  
<app-table-actions 
    [tableActionInput]="tableActionInput"
    (onOpenDialog)="openAddEditForm()"
    (onRefresh)="query()"
></app-table-actions>


<div class="{{sharedService.theme}}-book-tb-container" [style.height.px]="sharedService.getHeight(0)">
    <table 
        mat-table 
        [dataSource]="incomes" 
        class="mat-elevation-z8 {{sharedService.theme}}-table" 
        style="box-shadow: none;"
        matSort 
        (matSortChange)="announceSortChange($event)"
    >
        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell mat-sort-header *matHeaderCellDef class="centered-text {{sharedService.theme}}-text"> Date </th>
            <td mat-cell *matCellDef="let element" class="centered-text {{sharedService.theme}}-text">{{element?.createdTime | date:'dd/MM/yyyy - HH:mm'}}</td>
        </ng-container>

            <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell mat-sort-header *matHeaderCellDef class="centered-text {{sharedService.theme}}-text"> Name </th>
            <td mat-cell *matCellDef="let element" class="centered-text {{sharedService.theme}}-text">{{element?.name}}</td>
        </ng-container>
    
        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell mat-sort-header *matHeaderCellDef class="centered-text {{sharedService.theme}}-text"> Description </th>
            <td mat-cell *matCellDef="let element" class="centered-text {{sharedService.theme}}-text"> {{element?.description}} </td>
        </ng-container>

        <!-- Income Column -->
        <ng-container matColumnDef="incoming">
            <th mat-header-cell mat-sort-header *matHeaderCellDef class="centered-text {{sharedService.theme}}-text"> Income </th>
            <td mat-cell *matCellDef="let element" class="centered-text {{sharedService.theme}}-text"> {{element?.incoming | number:'1.0':'en-US'}} ALL </td>
        </ng-container>
    
        <!-- Category Column -->
        <ng-container matColumnDef="category">
            <th mat-header-cell mat-sort-header *matHeaderCellDef class="centered-text {{sharedService.theme}}-text"> Category </th>
            <td mat-cell *matCellDef="let element" class="centered-text {{sharedService.theme}}-text"> {{element?.category}} </td>
        </ng-container>
    
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="centered-text {{sharedService.theme}}-text custom-header">Actions</th>
            <td mat-cell *matCellDef="let element" class="centered-text {{sharedService.theme}}-text" style="padding: 0;">
                <app-record-actions (openViewDrawer)="viewDetails(element?.id)" (openEditForm)="openAddEditForm(element)" (openDeleteDialog)="openDeleteConfirmDialog(element.id)"></app-record-actions>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr [class]="sharedService.getAnimation(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div *ngIf="incomes.length == 0 && !sharedService.stillLoading" class="no-data" [style.height.px]="sharedService.getHeight(60)">
        No data to display!
    </div>
</div>


<mat-paginator 
    [length]="totalItems" 
    class="table-paginator {{sharedService.theme}}-paginator {{sharedService.theme}}-table {{sharedService.theme}}-text" 
    [pageSize]="size" 
    [pageSizeOptions]="pageSizeOptions" 
    (page)="paginatorEvent($event)">
</mat-paginator>

</mat-drawer-container>