<mat-drawer-container class="drawer-table-container {{sharedService.theme}}-body" autosize>
    <mat-drawer #drawer class="sidenav {{sharedService.theme}}-table" mode="over" position="end"
        (closed)="onSidenavClose()">
        <app-income-details *ngIf="isSidenavOpened" (onCloseAction)="drawer.toggle()" [incomeViewId]="entityViewId">
        </app-income-details>
    </mat-drawer>


    <!-- <table-actions [filterOptions]="filterOptions" [tableActionInput]="tableActionInput"
        (onOpenDialog)="openAddEditForm()" (onRefresh)="resetAndQuery()" (onSearch)="onSearch($event)" (onReset)="reset()">
    </table-actions> -->

    <base-table [data]="data" [columnDefinition]="columnDefinition"
        (onDeleteConfirmation)="openDeleteConfirmDialog($event)" (onAddEditForm)="openAddEditForm($event)"
        (onViewDetails)="viewDetails($event)" (onScroll)="onScroll()"></base-table>

</mat-drawer-container>