<div class="dash-picker">
    <button type="button" cb-icon-button (click)="previousDay()"
        matTooltip="Previous day" matTooltipPosition="below" aria-label="Previous day">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

    <button type="button" class="dash-picker__label" (click)="picker.open()" aria-label="Pick a day">
        <mat-icon class="dash-picker__cal">event</mat-icon>
        <span class="dash-picker__text">{{from | date: 'EEE, dd MMM yyyy'}}</span>
    </button>

    <button type="button" cb-icon-button (click)="nextDay()"
        matTooltip="Next day" matTooltipPosition="below" aria-label="Next day">
        <mat-icon>keyboard_arrow_right</mat-icon>
    </button>

    <mat-form-field class="dash-picker__hidden">
        <input matInput [matDatepicker]="picker" [value]="from" (dateChange)="onDatePicked($event.value)">
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
