.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -15px;
    margin-left: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.actions {
    display: flex;
    justify-content: space-between;
}

/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}