.my-form-field {
    width: 100%;
}

.filter-actions {
    padding: 20px 0px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.filter-container {
    background: var(--filter-bg);
    border-bottom: 2px solid rgba(0, 0, 0, .12);
    border-radius: 0px 0px 10px 10px;
}

.primary-text {
    color: var(--card-title);
}

.filter-option {
    background: var(--secondary);
}