<div style="width: 100%;" class="filter-container">


    <filter-header></filter-header>

    <mat-divider></mat-divider>

    <form [formGroup]="formGroup" class="filter-form" (keydown.enter)="onEnter()">
        <ng-container *ngFor="let filterOption of filterOptions">
            <div [ngSwitch]="filterOption.type" class="filter-cell">
                <cb-labeled-form-input *ngSwitchCase="'text'"
                    [label]="filterOption.label"
                    [type]="'text'"
                    [control]="$any(formGroup.get(filterOption.field))">
                </cb-labeled-form-input>

                <cb-labeled-form-input *ngSwitchCase="'number'"
                    [label]="filterOption.label"
                    [type]="'number'"
                    [control]="$any(formGroup.get(filterOption.field))">
                </cb-labeled-form-input>

                <cb-select-input *ngSwitchCase="'select'"
                    [label]="filterOption.label"
                    [control]="$any(formGroup.get(filterOption.field))"
                    [options]="filterOption?.matSelectOptions?.options || []"
                    [displayWith]="$any(displayBy(filterOption))"
                    [valueWith]="$any(valueBy(filterOption))">
                </cb-select-input>
            </div>
        </ng-container>
    </form>

    <filter-actions (onReset)="reset()" (onSearch)="search()" class="filter-actions"></filter-actions>
</div>
