<div class="container">
    <span></span>
    <div class="actions">
        <mat-icon class="pointer" class="{{sharedService.theme}}-icon" (click)="closeDialog(false)">close</mat-icon>
    </div>
</div>
<form [formGroup]="formGroup">
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label class="{{sharedService.theme}}-text">Name</mat-label>
        <input type="text" autocomplete="off" matInput formControlName="name">
        <mat-error *ngIf="name.errors?.required">This field is required.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label class="{{sharedService.theme}}-text">Description</mat-label>
        <input type="text" autocomplete="off" matInput formControlName="description">
        <mat-error *ngIf="description.errors?.required">This field is required.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label class="{{sharedService.theme}}-text">Money Spent</mat-label>
        <input type="number" autocomplete="off" matInput formControlName="moneySpent">
        <mat-error *ngIf="moneySpent.errors?.required">This field is required.</mat-error>
    </mat-form-field>

    <mat-form-field  style="width: 100%;">
        <mat-label>Category</mat-label>
        <mat-select formControlName="spendingCategoryID">
          <mat-option *ngFor="let category of categories" [value]="category.id">
            {{category?.category}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="category.errors?.required">This field is required.</mat-error>
      </mat-form-field>
</form>


<div class="actions">
    <span></span>
    <span>
        <button mat-raised-button color="primary" class="{{sharedService.theme}}-add-entity" style="padding: 2px;" [disabled]="formGroup?.invalid && savingEntity" (click)="add()">
            <mat-icon>done</mat-icon>
        </button>
    </span>

</div>
