.custom-dropdown {
    min-height: 304px !important;
}

.my-form-field .mat-form-field-wrapper {
    padding: 0 !important;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.pl-16px {
    padding-left: 16px
}

.flex {
    display: flex;
}

.cursor-pointer {
    cursor: pointer;
}

.items-center {
    align-items: center;
}

.h-42px {
    height: 42px;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute !important;
}

.right-0 {
    right: 0;
}

.mr-8px {
    margin-right: 8px;
}