.logo-container {
    color: white;
    height: 83px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* border-bottom: 1px solid rgba(0, 0, 0, .12); */
}

.logo-container > button {
    margin-left: 18px;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.0%;
}

.opened-menu-item {
    display: flex;
    align-items: center;
    justify-content: left;
    /* border-bottom: 1px solid rgba(0, 0, 0, .12); */
    padding: 15px 26px;
    color: white;
    outline: none;
}

.dark-text {
    color: #9F9F9F;
}

.light-text {
    color: white;
}

#toggle-id {
    position: absolute; 
    bottom: 0px; 
    left: 50%;
    height: 30px;
    padding: 10px 0px;
    color: white; 
    transform: translateX(-50%);
    background: transparent;
    box-shadow: none;
    width: calc(100%);
}

.sidebar {
    width: 76px;
    z-index: 3;
    transition: width 300ms cubic-bezier(0.25, 0.8, 0.25, 1), background var(--background-animation-timing);
}

.custom-icon-size {
    font-size: 19px !important;
    height: 19px !important;
    width: 19px !important;
    padding-left: 5px;
}

.menu-items{
    overflow-x: hidden;
}

#active-item{
    width: calc(100% - 10px);
    left: 0;
    border-radius: 0px 10px 10px 0px;
    height: 44px;
    position: absolute;
    background: rgba(0, 0, 0, .12);
    pointer-events: none;
    transition: transform ease 200ms;
    transform: translate(0%, 3px);
}

@media only screen and (max-width: 3000px) {

    .sidebar {
        left: 0px;
        height: 100%;
        overflow: hidden;
    }
}

@media all and (max-width: 599px) {
    .logo-container {
        height: 56px;
    }   
}

.title {
    margin-left: 10px;
}

.sidebar-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
}