.light {
    background: var(--light);   
}

.light-body {
    background: white;
}

.light-sb9:before {
    border-bottom: 19px solid white;
}

.light-border{
    border: 2px solid var(--light);
}

.light-icon-2{
    color: var(--light);
}

.light-dashboard-card {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
}

.light-title {
    color: rgba(0, 0, 0, 0.57);
}

.light-view-button {
    color: var(--light) !important;
}

.light > .mat-progress-bar-buffer {
    background-color: white !important;
}

.light-table {
    background: white;
}

.light-text {
    color: rgba(0,0,0,.67);
}

.light-button {
    background: #305680 !important;
}

.light-class>mat-dialog-container {
    background: white;
}

.light-book-tb-container {
    width: var(--table-width);
    height: 700px;
    background-color: white;
    overflow: auto;
    margin: auto;
    position: relative;
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

.light-mobile-action-menu {
    background: white !important;
}

.light-add-entity {
    background: var(--light) !important;
    color: white !important;
}

/* Handle */
.light-table tbody::-webkit-scrollbar-thumb {
    background: white;
}

.light-user-circle {
    background-color: white;
    color: var(--light);
}

.mat-menu-panel.light-user-menu{
    background: white;
}

.light-floating-button {
    background-color: var(--light) !important;
}

.light-user-menu-button {
    
}

.light-custom-calendar {
    .mat-calendar-body-cell-content {
        color: rgba(0, 0, 0, 0.57) !important;
    }
} 