
<mat-card class="login-card {{sharedService.theme}}-table">
    <form [formGroup]="loginGroup" autocomplete="off">
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label class="{{sharedService.theme}}-text">Username</mat-label>
            <input type="text" autocomplete="off" matInput formControlName="username">
            <mat-error *ngIf="username.errors?.required">This field is required.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label class="{{sharedService.theme}}-text">Password</mat-label>
            <input type="password" autocomplete="off" matInput formControlName="password">
            <mat-error *ngIf="password.errors?.required">This field is required.</mat-error>
        </mat-form-field>

        <div class="actions">
            <span></span>
            <button mat-raised-button style="background-color: #111619; color: #9F9F9F;" (click)="login()">
                Login
            </button>
        </div>
    
    </form>
</mat-card>        
