.login-card {
    position: absolute;
    width: 30rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
}

.actions > button {
    width: 100px;
    height: 40px;
}

input {
    color: #9F9F9F;
    font-size: 16px;
}