
<mat-card class="login-card {{sharedService.theme}}-table {{sharedService.theme}}-dashboard-card">
    <form [formGroup]="loginGroup" autocomplete="off">
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label class="{{sharedService.theme}}-text">Username</mat-label>
            <input type="text" autocomplete="off" matInput formControlName="username">
            <mat-error *ngIf="username.errors?.required">This field is required.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label class="{{sharedService.theme}}-text">Password</mat-label>
            <input #passwordInput type="password" autocomplete="off" matInput formControlName="password" style="width: calc(100% - 30px)">
            <div class="show-hide-password" (click)="togglePasswordVisibility(passwordInput, iconSlash)">
                <div #iconSlash class="icon-slash"></div>
                <mat-icon>remove_red_eye</mat-icon>
            </div>
            <mat-error *ngIf="password.errors?.required">This field is required.</mat-error>
        </mat-form-field>

        <div class="actions">
            <span>
            </span>
            <button mat-raised-button style="background-color: #111619; color: #9F9F9F;" (click)="login()">
                Login
            </button>
        </div>
        <div class="caps-lock" appCapsLock>
            <span style="display: block;height: 10px;width: 10px;background: rgb(255,130,67);border-radius: 50%;
            margin-top: 6px;margin-right: 3px;">
<!-- rgb(255,165,0) -->
            </span> Caps lock is on.
        </div>
    </form>

</mat-card>        
