.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo-container {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container > img {
    width: 100%;
    height: 100%;
}

.form-container {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #f7f7f7;
}

.remember-me {
    padding-bottom: 17px;
    padding-left: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #525252;
}

.forgot-password {
    cursor: pointer;
    font-weight: 400;
}

.login-card {
    /* width: calc(100% - 220px); */
}

button {
    
    background: rgba(103, 58, 183, 1) !important;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
}

.actions > button {
    width: 100%;
    height: 50px;
    border-radius: 10px;
}

input {
    color: #525252;
    font-size: 14px;
}

.caps-lock {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #9F9F9F;
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
    height: 0;
    transition: height 200ms ease
}

.show-hide-password {
    position: absolute;
    cursor: pointer;
    color: #9F9F9F;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    user-select: none;
}

.icon-slash {
    width: 31px;
    height: 2px;
    position: absolute;
    background: #9F9F9F;
    top: 83%;
    left: 31%;
    transform: rotate(46deg) translate(-50%, -50%);
    border-radius: 58px;
    opacity: 1;
    transition: opacity 200ms;
}

@media only screen and (max-width: 1000px) {

    .login-card {
        width: 50%;
    }

    .logo-container {
        display: none;
    }

    .form-container {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .login-card {
        width: calc(100% - 50px);
    }
}