<div style="position: relative;height: 100%;" *ngIf="authenticationService.currentUserValue">
    <div class="logo-container">
        <!-- <img style="width: 66.9px;height: 66.9px;"> -->
        <button class="menu-item" mat-icon-button (click)="sideBarService.toggleSideBar()">
            <mat-icon class="{{sharedService.theme}}-icon">
                menu
            </mat-icon>
        </button>
        <span *ngIf="sideBarService.isOpened">
            
        </span>
    </div>

    <div class="menu-items">
        <div id="active-item"></div>
        <div 
            class="opened-menu-item pointer" 
            *ngFor="let item of items;let i = index" 
            [routerLink]="[item.link]" 
            routerLinkActive="router-link-active"
            (click)="animateSelectedOption(i)"
            [matTooltip]="item.text"
            matTooltipPosition="below"
            matTooltipClass="sidebar-tooltip"
        >
            <mat-icon class="{{sharedService.theme}}-icon">{{item.icon}}</mat-icon>
            <span *ngIf="sideBarService.isOpened" class="title {{sharedService.theme}}-text">{{item.text}}</span>
        </div>
    </div>

    <!-- <div class="flex-centered pointer" (click)="sideBarService.toggleSideBar()" id="toggle-id" >
        <mat-icon class="custom-icon-size {{sharedService.theme}}-icon"> {{sideBarService.isOpened ? 'arrow_back_ios' : 'arrow_forward_ios'}} </mat-icon>
    </div> -->
</div>