.logo-container {
    color: white;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.0%;
}

.opened-menu-item {
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    padding: 15px 26px;
    color: white;
    outline: none;
}

.title {
    font-size: 16px;
    margin-left: 18px;
}

.opened-menu-item:hover {
    /* background: hsla(0, 0%, 100%, .05); */
}

/* .router-link-active {
    background: hsla(0, 0%, 100%, .15);
} */

.dark-text {
    color: #9F9F9F;
}

.light-text {
    color: white;
}

#toggle-id {
    position: absolute; 
    bottom: 10px; 
    left: 50%;
    color: white; 
    transform: translateX(-50%);
    background: transparent;
    box-shadow: none;
}


.custom-icon-size {
    font-size: 19px !important;
    height: 19px !important;
    width: 19px !important;
    padding-left: 5px;
}

.menu-items{
    overflow-x: hidden;
}

#active-item{
    width: calc(100% - 21px);
    left: 50%;
    border-radius: 5px;
    height: 45px;
    position: absolute;
    background: hsla(0, 0%, 100%, .15);
    pointer-events: none;
    transition: transform ease 200ms;
    transform: translate(-50%, 5px);
}