<div class="container">
    <span>Shto nje liber te ri</span>
    <div class="actions">
        <mat-icon class="pointer {{sharedService.theme}}-icon" (click)="closeDialog(false)">close</mat-icon>
    </div>
</div>
<form [formGroup]="bookGroup">
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label class="{{sharedService.theme}}-text">Titulli</mat-label>
        <input type="text" autocomplete="off" matInput formControlName="title" (keydown.enter)="addBook()">
        <mat-error *ngIf="bookGroup.controls['title'].errors?.required">Kjo fushe nuk mund te jete bosh.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label class="{{sharedService.theme}}-text">Autori</mat-label>
        <input type="text" autocomplete="off" matInput formControlName="author" (keydown.enter)="addBook()">
        <mat-error *ngIf="bookGroup.controls['author'].errors?.required">Kjo fushe nuk mund te jete bosh.</mat-error>
    </mat-form-field>
    <div class="input-container">
        <mat-form-field appearance="outline" style="width: 48%;">
            <mat-label class="{{sharedService.theme}}-text">Faqet</mat-label>
            <input type="number" autocomplete="off" min="0" matInput formControlName="numberOfPages" (keydown.enter)="addBook()">
            <mat-error *ngIf="bookGroup.controls['numberOfPages'].errors?.required">Kjo fushe nuk mund te jete bosh.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 48%;">
            <mat-label class="{{sharedService.theme}}-text">Viti Botimit</mat-label>
            <input type="number" [pattern]="'[0-9]{1,4}'" autocomplete="off" min="0" matInput formControlName="year" (keydown.enter)="addBook()">
            <mat-error *ngIf="bookGroup.controls['year'].errors?.pattern">Viti i Botimit duhet te jete numer 4-shifror.</mat-error>
            <mat-error *ngIf="bookGroup.controls['year'].errors?.required">Kjo fushe nuk mund te jete bosh.</mat-error>
        </mat-form-field>
    </div>

    <mat-form-field appearance="outline" style="width: 100%;" class="stock-class">
        <mat-label class="{{sharedService.theme}}-text">Sasia</mat-label>
        <input type="number" min="0" autocomplete="off" matInput formControlName="stock" (keydown.enter)="addBook()">
        <mat-error *ngIf="bookGroup.controls['stock'].errors?.required">Kjo fushe nuk mund te jete bosh.</mat-error>
    </mat-form-field>
</form>


<div class="actions">
    <span></span>
    <span>
        <button mat-raised-button color="primary" class="{{sharedService.theme}}-add-entity" style="padding: 2px;" [disabled]="bookGroup?.invalid" (click)="addBook()">
            <mat-icon>done</mat-icon>
        </button>
    </span>
</div>