.header-icon {
    color: #ffffff87;
    position: absolute;
    z-index: 123;
    top: 50%;
    left: 50%;
    width: 85px;
    font-size: 85px;
    transform: translate(-50%, -50%);
    height: 85px;
}

.header-title {
    margin-left: 13px;
    font-size: 25px;
    font-weight: 200;
}

.header {
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.actions {
    display: flex;
    justify-content: space-between;
}