<div class="dash-picker">
    <button mat-icon-button class="dash-picker__nav" (click)="previousMonth()" aria-label="Previous month">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

    <button type="button" class="dash-picker__label" (click)="picker.open()" aria-label="Pick a month">
        <mat-icon class="dash-picker__cal">event</mat-icon>
        <span class="dash-picker__text">{{from | date: 'MMMM yyyy'}}</span>
    </button>

    <button mat-icon-button class="dash-picker__nav" (click)="nextMonth()" aria-label="Next month">
        <mat-icon>keyboard_arrow_right</mat-icon>
    </button>

    <mat-form-field class="dash-picker__hidden">
        <input matInput [matDatepicker]="picker" [value]="from">
        <mat-datepicker #picker startView="year" (monthSelected)="onMonthPicked($event, picker)"></mat-datepicker>
    </mat-form-field>
</div>
