<mat-drawer-container class="example-container {{sharedService.theme}}-body" autosize>
    <mat-drawer #drawer class="sidenav {{sharedService.theme}}-table" mode="over" position="end"
        (closed)="onSidenavClose()">
        <app-category-detail *ngIf="isSidenavOpened" (onCloseAction)="drawer.toggle()" [categoryId]="categoryId">
        </app-category-detail>
    </mat-drawer>


    <div class="table-container {{sharedService.theme}}-table" style="position: relative;display: flex;flex-direction: column;">
        <table-actions class="category-table-actions" style="width: calc(100% + 50px);margin-top: -40px;" [filterOptions]="filterOptions" [tableActionInput]="tableActionInput"
            (onOpenDialog)="openAddEditForm()" (onRefresh)="query()" (onSearch)="onSearch($event)" (onReset)="reset()">
        </table-actions>
        <mat-tab-group (selectedTabChange)="changeCategoriesType($event)">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="{{sharedService.theme}}-icon {{sharedService.theme}}-title">exit_to_app</mat-icon>
                    <span class="{{sharedService.theme}}-text fw-300">
                        Expense Categories
                    </span>
                </ng-template>
                <app-categories-table 
                    (onOpenAddEditForm)="openAddEditForm($event)"
                    (onOpenDeleteDialog)="openDeleteConfirmDialog($event)"
                    (onViewCategoryDetails)="viewCategoryDetails($event)" (sortEvent)="announceSortChange($event)"
                    [dataSource]="dataSource">
                </app-categories-table>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="{{sharedService.theme}}-icon {{sharedService.theme}}-title">transit_enterexit
                    </mat-icon>
                    <span class="{{sharedService.theme}}-text fw-300">
                        Income Categories
                    </span>
                </ng-template>
                <app-categories-table (onOpenAddEditForm)="openAddEditForm($event)"
                    (onOpenDeleteDialog)="openDeleteConfirmDialog($event)"
                    (onViewCategoryDetails)="viewCategoryDetails($event)" (sortEvent)="announceSortChange($event)"
                    [dataSource]="dataSource">
                </app-categories-table>
            </mat-tab>
        </mat-tab-group>
    </div>



    <mat-paginator [length]="totalItems"
        class="table-paginator {{sharedService.theme}}-paginator {{sharedService.theme}}-table {{sharedService.theme}}-text"
        [pageSize]="size" [pageSizeOptions]="pageSizeOptions" (page)="paginatorEvent($event)">
    </mat-paginator>


</mat-drawer-container>

<!-- <div class="card-container">
    <div class="card" *ngFor="let im of dataSource">
        <mat-icon class="card-icon">
            {{im.icon}}
        </mat-icon>
    </div>
</div> -->