<div class="table-container {{sharedService.theme}}-table" style="position: relative;">
    <mat-tab-group (selectedTabChange)="changeCategoriesType($event)">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="{{sharedService.theme}}-icon {{sharedService.theme}}-title">exit_to_app</mat-icon>
                <span class="{{sharedService.theme}}-text fw-300">
                    Expense Categories
                </span>
            </ng-template>
            <app-categories-table 
                (onOpenAddEditForm)="openAddEditForm($event)"
                (onOpenDeleteDialog)="openDeleteConfirmDialog($event)"
                (sortEvent)="announceSortChange($event)" 
                [dataSource]="dataSource">
            </app-categories-table>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="{{sharedService.theme}}-icon {{sharedService.theme}}-title">transit_enterexit</mat-icon>
                <span class="{{sharedService.theme}}-text fw-300">
                    Income Categories
                </span>
            </ng-template>
            <app-categories-table 
                (onOpenAddEditForm)="openAddEditForm($event)"
                (onOpenDeleteDialog)="openDeleteConfirmDialog($event)"
                (sortEvent)="announceSortChange($event)" 
                [dataSource]="dataSource">
            </app-categories-table>
        </mat-tab>
      </mat-tab-group>
    
      <div class="category-action-container action-container {{sharedService.theme}}-text" *ngIf="!sharedService.mobileView">
        <mat-icon (click)="query()" class="pointer no-select {{sharedService.theme}}-icon" style="float: right;margin-left: 10px">refresh</mat-icon>
        <mat-icon (click)="openAddEditForm()" class="pointer no-select {{sharedService.theme}}-icon" style="float: right;margin-left: 10px">add</mat-icon>
        <mat-icon (click)="openAddEditForm()" class="pointer no-select {{sharedService.theme}}-icon" style="float: right;">search</mat-icon>
    </div>
</div>



<mat-paginator 
    [length]="totalItems" 
    class="table-paginator {{sharedService.theme}}-paginator {{sharedService.theme}}-table {{sharedService.theme}}-text" 
    [pageSize]="size" 
    [pageSizeOptions]="pageSizeOptions" 
    (page)="paginatorEvent($event)">
</mat-paginator>
