<mat-drawer-container class="drawer-table-container {{sharedService.theme}}-body" autosize>
    <mat-drawer #drawer class="sidenav {{sharedService.theme}}-table" mode="over" position="end"
        (closed)="onSidenavClose()">
        <app-category-detail *ngIf="isSidenavOpened" (onCloseAction)="drawer.toggle()" [categoryId]="categoryId">
        </app-category-detail>
    </mat-drawer>


    <div class="table-container {{sharedService.theme}}-table" style="position: relative;display: flex;flex-direction: column;height: calc(100% - 40px);">
        <!-- <table-actions class="category-table-actions" style="width: calc(100% + 50px);margin-top: 0px;" [filterOptions]="filterOptions" [tableActionInput]="tableActionInput"
            (onOpenDialog)="openAddEditForm()" (onRefresh)="query()" (onSearch)="onSearch($event)" (onReset)="reset()">
        </table-actions> -->
        <mat-tab-group style="height: calc(100% - 74px);" class="category-tabs" (selectedTabChange)="changeCategoriesType($event)">
            <mat-tab style="height: calc(100% - 100px);">
                <ng-template mat-tab-label>
                    <mat-icon class="{{sharedService.theme}}-icon {{sharedService.theme}}-title">exit_to_app</mat-icon>
                    <span class="{{sharedService.theme}}-text fw-300">
                        Expense Categories
                    </span>
                </ng-template>
                <app-categories-table 
                    (onOpenAddEditForm)="openAddEditForm($event)"
                    (onOpenDeleteDialog)="openDeleteConfirmDialog($event)"
                    (onViewCategoryDetails)="viewCategoryDetails($event)" (sortEvent)="announceSortChange($event)"
                    [dataSource]="dataSource">
                </app-categories-table>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="{{sharedService.theme}}-icon {{sharedService.theme}}-title">transit_enterexit
                    </mat-icon>
                    <span class="{{sharedService.theme}}-text fw-300">
                        Income Categories
                    </span>
                </ng-template>
                <app-categories-table (onOpenAddEditForm)="openAddEditForm($event)"
                    (onOpenDeleteDialog)="openDeleteConfirmDialog($event)"
                    (onViewCategoryDetails)="viewCategoryDetails($event)" (sortEvent)="announceSortChange($event)"
                    [dataSource]="dataSource">
                </app-categories-table>
            </mat-tab>
        </mat-tab-group>
    </div>


</mat-drawer-container>