<div class="container">
    <span style="margin-left: 19px;font-size: 20px;">
        From: {{dateFrom | date:'dd/MM/yyyy'}} - To: {{dateTo | date:'dd/MM/yyyy'}}
    </span>

    <div class="current-balance">
        <span [@inOutAnimation] *ngIf="!hideBalance">
             {{ account?.balance | number:'1.0':'en-US' }} ALL
        </span> 
        <span [@inOutAnimation] *ngIf="hideBalance" style="margin-top: 6px;">
            {{hiddenBalance}}
        </span>
        <button mat-icon-button style="margin-bottom: 5px;" (click)="toggleHideBalance()">
            <mat-icon>remove_red_eye</mat-icon>
        </button>
    </div>
</div>