<mat-drawer-container class="example-container {{sharedService.theme}}-body" autosize>
    <mat-drawer #drawer class="sidenav {{sharedService.theme}}-table" mode="over" position="end"
        (closed)="onSidenavClose()">
        <app-expense-detail *ngIf="isSidenavOpened" (onCloseAction)="drawer.toggle()" [expenseViewId]="expenseViewId">
        </app-expense-detail>
    </mat-drawer>


    <table-actions [filterOptions]="filterOptions" [tableActionInput]="tableActionInput"
        (onOpenDialog)="openAddEditForm()" (onRefresh)="query()" (onSearch)="onSearch($event)" (onReset)="reset()">
    </table-actions>

    <div class="{{sharedService.theme}}-book-tb-container">
        <table mat-table [dataSource]="expenses" class="mat-elevation-z8 {{sharedService.theme}}-table"
            style="box-shadow: none;" matSort #table (matSortChange)="announceSortChange($event)">

            <ng-container *ngFor="let column of columnDefinition" [matColumnDef]="column.column">
                <th mat-header-cell mat-sort-header *matHeaderCellDef
                    class="centered-text {{sharedService.theme}}-text">{{column.column}}</th>
                <td mat-cell *matCellDef="let element" class="centered-text {{sharedService.theme}}-text" style="padding: 0;">
                    <span [ngSwitch]="column.type">
                        <ng-container *ngSwitchCase="'date'">
                            {{element[column.column] | customDate}}
                        </ng-container>

                        <ng-container *ngSwitchCase="'string'">
                            {{element[column.column]}}
                        </ng-container>

                        <ng-container *ngSwitchCase="'currency'">
                            {{element[column.column] | number:'1.0':'en-US' }} {{element?.currency}}
                        </ng-container>

                        <ng-container *ngSwitchCase="'actions'">
                            <app-record-actions (openViewDrawer)="viewExpenseDetails(element?.id)"
                                (openEditForm)="openAddEditForm(element)"
                                (openDeleteDialog)="openDeleteConfirmDialog(element.id)"></app-record-actions>
                        </ng-container>
                    </span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr [class]="sharedService.getAnimation(row)" mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>


        <table-message [total]="expenses.length"></table-message>
    </div>

</mat-drawer-container>