

.button-container {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spacer {
    width: 20px;
    height: 100%;
}

.message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-item-message {
    width: 80%;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    font-size: 24px;
    font-weight: 300;
    color: #3f51b5;
    margin-top: 10px;
}

.book-class {
    background-color: #e63d10;
    padding: 1px 9px;
    color: white;
    border-radius: 7px;
    font-size: 11px;
    margin-right: 1;
    margin-left: 4px;
}

.cell-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.centered-text {
    text-align: center;
}


.ctn {
    display: flex;
    justify-content: center;
}

.icon-container {
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-option {
    background: #f44336;
    width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width ease 300ms;
}

.delete-text {
    color: white;
}

.flex-disp {
    display: flex;
    justify-content: center;
    align-items: center;
}

tr {
    width: 100%; 
    display: table; 
    table-layout: fixed;
}

thead {
    width: 100% !important;
    table-layout: fixed !important;
    display: table !important;
} 

table {
    width: 100%;
    table-layout: fixed;
    display: block;
    height: calc(100% - 65px); 
}

.mat-column-actions {
    width: 15%;
}
