<mat-drawer-container class="drawer-table-container {{sharedService.theme}}-body" autosize>
    <mat-drawer #drawer class="sidenav {{sharedService.theme}}-table" mode="over" position="end"
        (closed)="onSidenavClose()">
        <app-expense-detail *ngIf="isSidenavOpened" (onCloseAction)="drawer.toggle()">
        </app-expense-detail>
    </mat-drawer>
    <!-- {{displayData?.length}}
    {{data?.length}} -->
    <base-table [data]="displayData" [columnDefinition]="columnDefinition"
        (onDeleteConfirmation)="openDeleteConfirmDialog($event)"
        (onAddEditForm)="openAddEditForm($event)"
        (onViewDetails)="viewDetails($event)"
        (onScroll)="onScroll()"
        (onTopScroll)="onTopScroll()"
        [filterOptions]="filterOptions"
        [tableActionInput]="tableActionInput"
        (onOpenDialog)="openAddEditForm()"
        (onRefresh)="resetAndQuery()"
        (onSearch)="onSearch($event)"
        (onReset)="resetAndQuery()"
    ></base-table>

</mat-drawer-container>