.dropdown-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dropdown-title {
    padding: 13px 20px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

.dropdown-options {
    padding-left: 30px;
}

.dropdown-option {
    padding: 7px;
}