.dropdown-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dropdown-title {
    padding: 13px 20px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

.dropdown-options {
    padding-left: 30px;
    overflow: hidden;
}

.dropdown-option {
    padding: 7px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background 300ms;
    justify-content: space-between;
}

/* .dropdown-option:hover {
    background: rgba(0, 0, 0, .12);
} */

/* .selected-option {
    background: rgba(0, 0, 0, .12);
} */

.option-text {
    margin-left: 7px;
}