<div class="{{sharedService.theme}}-book-tb-container">
    <table-actions [filterOptions]="filterOptions" [tableActionInput]="tableActionInput"
        (onOpenDialog)="onOpenDialog.emit()" (onRefresh)="onRefresh.emit()" (onSearch)="onSearch.emit($event)"
        (onReset)="onReset.emit()">
    </table-actions>

    <div style="display: flex;height: calc(100% - 126px);position: relative;">
        <div [ngClass]="displayDrawer ? 'table-opened' : 'table-closed'">
            <table-header [displayDrawer]="displayDrawer" [columnDefinitions]="columnDefinition"></table-header>
            <table-body [displayDrawer]="displayDrawer" [displayEditAction]="displayEditAction"
                [displayDeleteAction]="displayDeleteAction" [data]="data" [tableId]="tableId"
                [columnDefinitions]="columnDefinition" (onDeleteConfirmation)="onDeleteConfirmation.emit($event)"
                (onAddEditForm)="onAddEditForm.emit($event)" (onViewDetails)="viewDetails($event)"
                (onScroll)="onScroll.emit()" (onTopScroll)="onTopScroll.emit()"></table-body>

            <mat-paginator style="border-top: 1px solid rgba(0, 0, 0, .12);" [length]="200"
                [pageSize]="20" [showFirstLastButtons]="true"
                [pageSizeOptions]="[]"
                [hidePageSize]="breakpointService.screenSize == 'mobile'"
                [pageIndex]="0">
            </mat-paginator>
            <table-message [total]="data?.length"></table-message>
        </div>

        <div [@inOutSlide] class="details-sidebar-container {{sharedService.theme}}-table" *ngIf="displayDrawer">
            <div class="details-sidebar-actions">
                <button mat-icon-button (click)="displayDrawer=false">
                    <mat-icon class="{{sharedService.theme}}-icon">
                        close
                    </mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>