<div class="{{sharedService.theme}}-book-tb-container">
    <table-actions [filterOptions]="filterOptions" [tableActionInput]="tableActionInput"
        (onOpenDialog)="onOpenDialog.emit()" (onRefresh)="onRefresh.emit()" (onSearch)="onSearch.emit($event)"
        (onReset)="onReset.emit()">
    </table-actions>

    <div style="display: flex;height: calc(100% - 67px);position: relative;">
        <div [ngClass]="displayDrawer ? 'table-opened' : 'table-closed'" class="data-table">
            <table-header [displayedColumns]="displayedColumns"></table-header>
            <table-body [displayDrawer]="displayDrawer" [displayEditAction]="displayEditAction"
                [displayDeleteAction]="displayDeleteAction" [data]="data" [tableId]="tableId"
                [columnDefinitions]="columnDefinition" (onDeleteConfirmation)="onDeleteConfirmation.emit($event)"
                (onAddEditForm)="onAddEditForm.emit($event)" (onViewDetails)="viewDetails($event)"
                (onScroll)="onScroll.emit()" (onTopScroll)="onTopScroll.emit()"></table-body>
            <table-message [total]="data?.length"></table-message>
        </div>

        <div [@inOutSlide] style="
        position: absolute;
    right: 0px;
    max-width: 40%;
    overflow-x: hidden;
    width: 40%;
    height: 100%;
    background: white;
    border-left: 1px solid rgba(0, 0, 0, 0.12);" *ngIf="displayDrawer">
            <div style="    width: calc(100% - 20px);
            height: 57px;
            display: flex;
            align-items: center;
            justify-content: end;
            padding-right: 20px;">
                <button mat-icon-button (click)="displayDrawer=false">
                    <mat-icon>
                        close
                    </mat-icon>
                </button>

            </div>
        </div>
    </div>
</div>