<mat-progress-bar mode="indeterminate" [@inOutAnimation] *ngIf="sharedService.stillLoading && sharedService.isSpinnerEnabled" style="position: absolute;top: 64px;left:0"></mat-progress-bar>
<div class="table-container {{sharedService.theme}}-table">
    <div class="titulli">
        <mat-icon class="{{sharedService.theme}}-icon">supervised_user_circle</mat-icon>
        <span class="title">Anetaret</span>
    </div>
    <div class="table-actions {{sharedService.theme}}-text">
        <mat-icon (click)="refreshData()" class="pointer no-select {{sharedService.theme}}-icon" style="float: right;margin-left: 10px">refresh</mat-icon>
        <mat-icon (click)="openDialog()" class="pointer no-select {{sharedService.theme}}-icon" style="float: right;">add</mat-icon>
        <mat-icon (click)="openDialog()" class="pointer no-select {{sharedService.theme}}-icon" style="float: right;">search</mat-icon>

    </div>
</div>

<div class="{{sharedService.theme}}-book-tb-container" [style.height.px]="getHeight(0)">
    <div class="book-table">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 {{sharedService.theme}}-table" style="box-shadow: none;">
    
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
    
            <!-- Name Column -->
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef class="centered-text {{sharedService.theme}}-text"> Emri </th>
                <td mat-cell *matCellDef="let element" class="centered-text {{sharedService.theme}}-text"> {{element?.firstName}} </td>
            </ng-container>
    
            <!-- Weight Column -->
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef class="centered-text {{sharedService.theme}}-text"> Mbiemri </th>
                <td mat-cell *matCellDef="let element" class="centered-text {{sharedService.theme}}-text"> {{element?.lastName}} </td>
            </ng-container>
    
            <!-- Symbol Column -->
            <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef class="centered-text {{sharedService.theme}}-text"> Nr.Telefoni </th>
                <td mat-cell *matCellDef="let element" class="centered-text {{sharedService.theme}}-text"> {{element?.phoneNumber}} </td>
            </ng-container>
    
            <!-- Symbol Column -->
            <ng-container matColumnDef="bookInfo">
                <th mat-header-cell *matHeaderCellDef class="centered-text {{sharedService.theme}}-text"> Librat </th>
                <td mat-cell *matCellDef="let element">
                    <div class="cell-container">
                        <span *ngFor="let book of element?.bookInfo" class="book-class pointer no-select">
                    {{ book.bookName }}</span>
                    </div>
    
                </td>
            </ng-container>
    
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="centered-text {{sharedService.theme}}-text custom-header">Veprimet</th>
                <td mat-cell *matCellDef="let element" class="centered-text {{sharedService.theme}}-text" style="padding: 0;">
                    <button mat-icon-button color="primary" (click)="openAssociateInfo(element?.id)">
                        <mat-icon class="{{sharedService.theme}}-icon">open_in_new</mat-icon>
                    </button>
                    <button mat-icon-button (click)="editAssociate(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteAssociate(element.id)">
                        <mat-icon style="color: #ff6347;">delete</mat-icon>
                    </button>
                    <!-- <div class="ctn" style="float: right;">
                        <div class="icon-container" (click)="deleteAssociate(element.id)" id='{{element.id}}-icon-cnt'>
                            <mat-icon color="warn" class="pointer" id='{{element.id}}-icon'>delete</mat-icon>
                        </div>
                        <div class="delete-option pointer" id='{{element.id}}-delete' (click)="delete(element.id)">
                            <span class="delete-text">Delete</span>
                        </div>
                    </div> -->
                </td>
    
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div *ngIf="dataSource.length == 0" class="no-data" [style.height.px]="getHeight(60)">
        Nuk ka te dhena ne tabele!
    </div>
</div>



<div class="book-table">
    <mat-paginator [length]="totalItems" class="{{sharedService.theme}}-paginator {{sharedService.theme}}-table {{sharedService.theme}}-text" [pageSize]="size " [pageSizeOptions]="[5, 10, 25, 100] " (page)="paginatorEvent($event) " style="box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px
        3px 14px 2px rgba(0, 0, 0, 0.12); position: sticky;bottom: 0;width:95% ">
    </mat-paginator>

</div>