.body-container {
    overflow: auto;
    height: calc(100% - 57px);
}

.table-row {
    min-height: 47px;
    max-height: 47px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.12);
    background: var(--secondary);
    color: var(--card-title);
}

.text-center {
    text-align: center;
}

.row-entry {
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
}

.table-data {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hover-table-row:hover{
    background: var(--hover-table-row) !important;
}
.pointer {
    cursor: pointer;
}

.active-element {
    background: #80808014;
}
