.body-container {
    overflow: auto;
    height: calc(100% - 57px);
}

.table-row {
    min-height: 47px;
    max-height: 47px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.12);
}

.text-center {
    text-align: center;
}

.row-entry {
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
}

.hover-table-row:hover{
    background: #80808008 !important;
}
.pointer {
    cursor: pointer;
}

.active-element {
    background: #80808014;
}

.table-row {
    transition: width 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}