<div class="body-container">
    <div *ngFor="let element of data" class="table-row">
        <div *ngFor="let columnDef of columnDefinitions" class="table-row text-center row-entry"
        [style.width.%]="columnDef?.type | columnWidth: columnDefinitions?.length:displayDrawer">
            <ng-container [ngSwitch]="columnDef.type">
                <ng-container *ngSwitchCase="'date'">
                    <span class="table-data" matTooltipClass="sidebar-tooltip" matTooltip="{{element[columnDef.column] | customDate}}">
                        {{element[columnDef.column] | customDate}}
                    </span>
                </ng-container>

                <ng-container *ngSwitchCase="'string'">
                    <span class="table-data" matTooltipClass="sidebar-tooltip" matTooltip="{{element[columnDef.column] || '-'}}">
                        {{element[columnDef.column] || '-'}}
                    </span>
                </ng-container>

                <ng-container *ngSwitchCase="'currency'">
                    <span class="table-data" matTooltipClass="sidebar-tooltip" matTooltip="{{element[columnDef.column] | number:'1.0':'en-US' }} {{element?.currency}}">
                        {{element[columnDef.column] | number:'1.0':'en-US' }} {{element?.currency}}
                    </span>
                </ng-container>

                <ng-container *ngSwitchCase="'actions'">
                    <record-actions (openViewDrawer)="viewDetails(element?.id)"
                        [displayDeleteAction]="displayDeleteAction" [displayEditAction]="displayEditAction"
                        (openEditForm)="openAddEditForm(element)"
                        (openDeleteDialog)="openDeleteConfirmDialog(element.id)"></record-actions>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>