<div class="{{sharedService.theme}}-table settings-table">
    <div class="main-action-container {{sharedService.theme}}-table">
        <div class="title-container">
            <mat-icon class="{{sharedService.theme}}-icon {{sharedService.theme}}-title">
                settings
            </mat-icon>
            <span class="title {{sharedService.theme}}-title">
                Settings > {{simplifiedPath | titlecase}}
            </span>
        </div>

        

    </div>

    <div class="settings-content">
        <div class="{{sharedService.theme}}-settings settings-menu">
            <dropdown [selectedTab]="selectedTab" [title]="'Appearance'" [path]="appearancePath"
                (onNavigation)="onNavigation($event)" [options]="appearanceOptions"></dropdown>
            <dropdown [selectedTab]="selectedTab" [title]="'Account'" [path]="accountPath"
                (onNavigation)="onNavigation($event)" [options]="accountOptions"></dropdown>
        </div>
        <div style="padding: 20px;width: calc(100% - 300px);">
            <router-outlet></router-outlet>
        </div>
    </div>



</div>

<!-- <div style="margin-top: 50px;margin-left: 50px;width: 500px;">
    <dynamic-dropdown [data]="data" (onSelection)="onSelectionFunction($event)" (onCreate)="onCreateFunction($event)" (onDelete)="onDeleteFunction($event)"></dynamic-dropdown>
</div> -->