
<div class="button-container">
    <div class="titulli">
        <mat-icon class="{{sharedService.theme}}-icon {{sharedService.theme}}-text">settings</mat-icon>
        <span class="title {{sharedService.theme}}-text">Settings</span>
    </div>
    <span></span>
</div>

<mat-card class="{{sharedService.theme}}-card {{sharedService.theme}}-dashboard-card configuration {{sharedService.theme}}-text" style="margin-top: 0;">
    <span>Dark Theme</span>
    <mat-slide-toggle [checked]="sharedService.theme === 'dark'" (change)="changeTheme()"></mat-slide-toggle>
</mat-card>

<mat-card class="{{sharedService.theme}}-card {{sharedService.theme}}-dashboard-card configuration {{sharedService.theme}}-text">
    <span>Activate loading progress bar.</span>
    <mat-slide-toggle [checked]="sharedService.isSpinnerEnabled" (change)="setAnimationLoading()"></mat-slide-toggle>
</mat-card>

<!-- <div style="margin-top: 50px;margin-left: 50px;width: 500px;">
    <dynamic-dropdown [data]="data" (onSelection)="onSelectionFunction($event)" (onCreate)="onCreateFunction($event)" (onDelete)="onDeleteFunction($event)"></dynamic-dropdown>
</div> -->



