<div class="px-2" style="max-height: 100%;overflow-y: auto;">
    <app-budget-info (dateSelected)="onDateSelected($event)"></app-budget-info>

    <expense-income-resume [dashboardData]="dashboardData"></expense-income-resume>
    
    <expenses-chart [dailyExpensesLabels]="dailyExpensesLabels" [dailyExpenses]="dailyExpenses"></expenses-chart>

    <expense-categories [expenseCategoriesData]="expenseCategoriesData"></expense-categories>

    <app-floating-menu [floatingMenu]="floatingMenu"></app-floating-menu>
</div>