<div style="padding: 20px;max-height: 100%;overflow-y: auto;height: calc(100% - 64px);">
    <div style="background: var(--filter-bg);height: calc(100% - 42px);border-radius: 10px;">
        <expense-income-resume [dashboardData]="dashboardData"></expense-income-resume>
    
        <expenses-chart [dailyExpensesLabels]="dailyExpensesLabels" [dailyExpenses]="dailyExpenses"></expenses-chart>
    
        <expense-categories [expenseCategoriesData]="expenseCategoriesData"></expense-categories>
    </div>

    <!-- <floating-menu [floatingMenu]="floatingMenu"></floating-menu> -->
</div>