.incomes-title {
    padding: 10px 5px;
    padding-top: 0;
}

.total-incomes {
    font-size: 1.1rem;
    width: fit-content;
    font-family: 'Lato', sans-serif;
}

.total-incomes-container {
    padding: 10px 0px;
    padding-left: 5px;
}

.total-incomes-description {
    padding: 13px 0px;
    font-size: 16px;
    padding-bottom: 0;
}

.daily-chart {
    width: calc(100% - 67px);
    margin: auto;
    margin-top: 10px;
}

.dashboard-card {
    width: calc(50% - 37px);
}

.category-chart {
    width: calc(50% - 37px);
}

.category-card-container {
    max-width: calc(100%);
    overflow: hidden;
    display: flex;
    padding: 15px 11px;
    margin: 0px auto;
}

.cards-container {
    width: calc(100% - 35px);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.percentage-badge {
    font-size: 13px;
    position: absolute;
    right: 0;
    transform: translate(100%, -50%);
    top: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.percentage-up {
    color: rgb(14, 167, 14);
}

.percentage-down {
    color: #ff6347;
}

.chart-card {
    width: calc(50% - 35px);
    padding-bottom: calc(40% + 50px);
}

.avg-card-cnt {
  width: calc(50% - 5px);
  display: flex;
  justify-content: space-between;
}

.category-card {
    min-width: calc(25% - 44px);
    margin: 0 6px;
}


@media only screen and (max-width: 1500px) {
    .percentage-badge {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1250px) {
    .bottom-margin {
        margin-bottom: 7px;
    }

}

@media only screen and (max-width: 1150px) {

    .total-incomes, .total-incomes-description {
        font-size: 0.9rem;
    }

}

@media only screen and (max-width: 1100px) {
    .total-incomes, .total-incomes-description {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 1060px) {
   .cards-container {
       flex-direction: column;
   }
   .avg-card-cnt {
       width: calc(100% - 5px);
       margin-bottom: 10px;
   }

   .daily-chart {
       margin-top: 0px;
   }
}

@media only screen and (max-width: 510px) {

    .cards-container {
        width: calc(100% - 35px);
    }
    .avg-card-cnt {
        width: 100%;
        margin-bottom: 0px;
        flex-direction: column;
    }
 
    .daily-chart {
        margin-top: 0px;
    }

    .dashboard-card {
        width: calc(100% - 32px);
        margin-bottom: 10px;
    }
}

