.active {
    background: #ff6347;
    color: white;
}

.month-class {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 14px;
}

.month-container {
    /* display: grid;
    grid-template-columns: auto auto auto auto;
    height: calc(100% - 70px); */
    display: grid;
    grid-template-columns: 53px 53px 53px 53px;
    height: calc(100% - 70px);
    grid-template-rows: 36px 36px 36px;
}

.days-container {
    /* display: grid;
    grid-template-columns: auto auto auto auto;
    height: calc(100% - 70px); */
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    height: calc(100% - 70px);
    grid-template-rows: auto auto auto auto auto auto;
}

.option {
    padding: 7px 7px;
    border-radius: 5px;
    margin: 3px 0px;
    z-index: 1;
    transition: color 200ms;
}

.option-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 230px);
    flex-direction: column;
    margin-top: 25px;
    position: absolute;
    left: 230px;
}

.selected-type {
    width: 100px;
    border-radius: 5px;
    height:34px;
    position: absolute; 
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: transform 400ms;
}

.calendar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 230px;
    overflow: hidden;
}

.test-for-moment {
    min-width: 220px;
    padding: 0px 5px;
    transition: transform 400ms;
    padding-bottom: 7px;
}