<div class="calendar-container">

    <div class="test-for-moment" #dailyCnt>
        <div style="width: 100%;height: 40px;display: flex;justify-content: space-evenly;align-items: center">
            <span (click)="changeViewType('Monthly')">{{months[selectedMonth]}} - {{selectedYear}}</span>
        </div>
        <div class="days-container">
            <div class="month-class" *ngFor="let weekDay of ['S', 'M', 'T', 'W', 'TH', 'F', 'S']">
                {{weekDay}}
            </div>
            <div *ngFor="let day of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]" (click)="selectDay(day)" [ngClass]="{'active': day === selectedDay}" class="month-class">
                <span>{{day}}</span>
            </div>
        </div>
    </div>

    <div class="test-for-moment" #monthlyCnt>
        <div style="width: 107%;height: 40px;display: flex;justify-content: space-evenly;align-items: center">
            <button mat-icon-button [disabled]="selectedYear === 1975">
                <mat-icon (click)="decreaseYear()">keyboard_arrow_left</mat-icon>
            </button>
            <span (click)="changeViewType('Yearly')">{{selectedYear}}</span>
            <button mat-icon-button [disabled]="selectedYear === actualYear">
                <mat-icon (click)="increaseYear()">keyboard_arrow_right</mat-icon>    
            </button>
        </div>
        <div class="month-container">
            <div *ngFor="let month of months" class="month-class" [ngClass]="{'active': month === months[selectedMonth]}" (click)="selectMonth(month)">
                <span>{{month}}</span>
            </div>
        </div>
    </div>

    <div class="test-for-moment" #yearlyCnt>
        <div style="width: 100%;height: 40px;display: flex;justify-content: space-evenly;align-items: center">
            <button mat-icon-button [disabled]="selectedRange[0] <= 1975">
                <mat-icon (click)="decreaseRange()">keyboard_arrow_left</mat-icon>
            </button>
            <span>{{selectedRange[0]}} - {{selectedRange[selectedRange.length-1]}}</span>
            <button mat-icon-button [disabled]="selectedRange[selectedRange.length-1] === actualYear">
                <mat-icon (click)="increaseRange()">keyboard_arrow_right</mat-icon>    
            </button>
        </div>
        <div class="month-container">
            <div *ngFor="let year of selectedRange" class="month-class" [ngClass]="{'active': year === selectedYear}" (click)="selectYear(year)">
                <span>{{year}}</span>
            </div>
        </div>
    </div>

</div>
