.active {
    background: #ff6347;
    color: white;
}

.month-class {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* width: 65px; */
    margin-left:15px;
    font-size: 14px;
}

.month-container {
    /* display: grid;
    grid-template-columns: auto auto auto auto;
    height: calc(100% - 70px); */
    display: grid;
    grid-template-columns: 53px 53px 53px 53px;
    height: calc(100% - 70px);
    grid-template-rows: 36px 36px 36px;
}
.option {
    padding: 7px 7px;
    border-radius: 5px;
    margin: 3px 0px;
    z-index: 1;
    transition: color 200ms;
}