<div
    class="ta"
    [class.ta--toolbar-only]="hideEmbeddedTitle"
    [class.ta--mobile]="mobileToolbar"
>
    <div class="ta__toolbar">
        @if (!hideEmbeddedTitle) {
            <div class="ta__title">
                <mat-icon class="primary-icon">{{ tableActionInput?.icon }}</mat-icon>
                <span class="ta__title-text">{{ tableActionInput?.pageName }}</span>
            </div>
        }

        <div class="ta__actions">
            <button
                type="button"
                class="ta__icon-btn"
                [class.ta__icon-btn--active]="filterOpen() || appliedFilterCount() > 0"
                matTooltip="Filters"
                matTooltipClass="sidebar-tooltip"
                matTooltipPosition="above"
                mat-icon-button
                (click)="toggleFilter()"
                [attr.aria-expanded]="filterOpen()"
                aria-label="Toggle filters"
            >
                <mat-icon class="primary-icon">search</mat-icon>
                @if (appliedFilterCount() > 0) {
                    <span class="ta__icon-badge" aria-hidden="true">{{ appliedFilterCount() }}</span>
                }
            </button>
            @if (!tableActionInput?.extra?.hideInsertButton) {
                <button
                    type="button"
                    matTooltip="Insert"
                    matTooltipClass="sidebar-tooltip"
                    matTooltipPosition="above"
                    mat-icon-button
                    (click)="openDialog()"
                >
                    <mat-icon class="primary-icon">add</mat-icon>
                </button>
            }
            <button
                type="button"
                matTooltip="Refresh"
                matTooltipClass="sidebar-tooltip"
                matTooltipPosition="above"
                mat-icon-button
                (click)="refresh()"
            >
                <mat-icon class="primary-icon">refresh</mat-icon>
            </button>
        </div>
    </div>

    @if (filterOpen()) {
        <filter
            [filterOptions]="filterOptions"
            (applied)="onFilterApplied($event)"
            (reset)="onFilterReset()"
            (closed)="closeFilter()"
        ></filter>
    }
</div>
