<!-- TABLE - ACTIONS: CREATE, REFRESH, SEARCH -->
<div class="main-action-container" style="position: relative;" [id]="containerId">
    <div class="title-container" *ngIf="!showSearchInput">
        <mat-icon class="primary-icon">{{tableActionInput?.icon}}</mat-icon>
        <span class="title">{{tableActionInput?.pageName}}</span>
    </div>

    <div *ngIf="showSearchInput" style="height: 68px;max-height: 68px;"></div>

    <filter *ngIf="showSearchInput" (onReset)="reset()" (onSearch)="search($event)" [filterOptions]="filterOptions" [@filterAnimation] class="filter"></filter>

    <div class="table-actions title action-container"
        *ngIf="!showSearchInput">
        <mat-icon (click)="refresh()" class="pointer no-select"
            style="float: right;margin-left: 10px">refresh</mat-icon>
        <mat-icon *ngIf="!tableActionInput?.extra?.hideInsertButton" (click)="openDialog()"
            class="pointer no-select" style="float: right;">add</mat-icon>
        <mat-icon class="pointer no-select" style="float: right;margin-right: 9px"
            [id]="searchIconId"
            (click)="openSearchInput()">search</mat-icon>
    </div>
</div>