<!-- TABLE - ACTIONS: CREATE, REFRESH, SEARCH -->
<div class="main-action-container" [id]="containerId">
    <div class="title-container" *ngIf="!showSearchInput">
        <mat-icon class="primary-icon">{{tableActionInput?.icon}}</mat-icon>
        <span class="title">{{tableActionInput?.pageName}}</span>
    </div>

    <div *ngIf="showSearchInput" style="height: 67.5px"></div>

    <filter *ngIf="showSearchInput" (onReset)="reset()" (onSearch)="search($event)" [filterOptions]="filterOptions" [@filterAnimation] class="filter"></filter>

    <div class="table-actions title action-container"
        *ngIf="!showSearchInput">
        <button matTooltip="Search" matTooltipClass="sidebar-tooltip" matTooltipPosition="above" mat-icon-button (click)="openSearchInput()">
            <mat-icon [id]="searchIconId">search</mat-icon>
        </button>
        <button matTooltip="Insert" matTooltipClass="sidebar-tooltip" *ngIf="!tableActionInput?.extra?.hideInsertButton" matTooltipPosition="above" mat-icon-button (click)="openDialog()">
            <mat-icon>add</mat-icon>
        </button>
        <button matTooltip="Refresh" matTooltipClass="sidebar-tooltip" matTooltipPosition="above" mat-icon-button (click)="refresh()">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>
</div>