<create-form [loadingData]="loadingData()" [loadingMessage]="loadingMessage()" icon="flag" [entity]="entity"
    [editMode]="isEditMode" (close)="closeDialog($event)" (create)="add()">

    <form [formGroup]="formGroup" class="dialog-form">
        <div class="dialog-form__row dialog-form__row--category">
            <mat-form-field appearance="outline" class="dialog-form__field primary-text">
                <mat-label class="primary-text">Project name</mat-label>
                <input type="text" autocomplete="off" matInput formControlName="name" placeholder="e.g. Trip to Paris">
                <mat-error>This field is required.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="dialog-form__field primary-text">
                <mat-label class="primary-text">Target amount</mat-label>
                <input type="number" step="0.01" min="0" autocomplete="off" matInput formControlName="targetAmount">
                <mat-error>Enter a positive amount.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="dialog-form__field primary-text">
                <mat-label class="primary-text">Currency</mat-label>
                <mat-select formControlName="targetCurrency">
                    <mat-option class="primary-text" *ngFor="let c of currencies" [value]="c">
                        {{ c | flag }} {{ c }}
                    </mat-option>
                </mat-select>
                <mat-error>This field is required.</mat-error>
            </mat-form-field>
        </div>

        <div class="dialog-form__icon-slot">
            <select-icon formControlName="icon"></select-icon>
        </div>

        <mat-form-field appearance="outline" class="dialog-form__field dialog-form__textarea primary-text">
            <mat-label class="primary-text">Description</mat-label>
            <textarea matInput formControlName="description" placeholder="What is this goal about?"></textarea>
        </mat-form-field>
    </form>
</create-form>
