<div class="cards-container">
    <div class="avg-card-cnt">
        <mat-card class="dashboard-card">
            <div class="incomes-title fw-500 {{sharedService.theme}}-title">
                Expenses
            </div>
            <div class="total-incomes-container">
                <div class="total-incomes {{sharedService.theme}}-title">
                    {{expenses | number:'1.2-2':'en-US'}} ALL
                </div>
                <div class="total-incomes-description {{sharedService.theme}}-title">
                    Total Expenses so far.
                </div>
            </div>
        </mat-card>

        <mat-card class="{{sharedService.theme}}-table {{sharedService.theme}}-dashboard-card dashboard-card">
            <div class="incomes-title fw-500 {{sharedService.theme}}-title">
                Average daily expenses
            </div>
            <div class="total-incomes-container">
                <div class="total-incomes {{sharedService.theme}}-title" style="position: relative;">
                    {{averageDailyExpenses | number:'1.2-2':'en-US'}} ALL
                    <span *ngIf="increaseInExpense>0" class="percentage-badge percentage-down">
                        <span>↑</span>{{increaseInExpense | number:'1.2-2':'en-US'}}%
                    </span>
                    <span *ngIf="increaseInExpense<0" class="percentage-badge percentage-up">
                        <span>&darr;</span>{{increaseInExpense | absoluteValue | number:'1.2-2':'en-US'}}%
                    </span>
                    <span *ngIf="increaseInExpense==0" class="percentage-badge">
                        {{increaseInExpense | absoluteValue | number:'1.2-2':'en-US'}}%
                    </span>
                </div>
                <div class="total-incomes-description {{sharedService.theme}}-title">
                    Average daily expenses so far.
                </div>
            </div>
        </mat-card>
    </div>

    <div class="avg-card-cnt">

        <mat-card class="{{sharedService.theme}}-table {{sharedService.theme}}-dashboard-card dashboard-card">
            <div class="incomes-title fw-500 {{sharedService.theme}}-title">
                Incomes
            </div>
            <div class="total-incomes-container">
                <div class="total-incomes {{sharedService.theme}}-title">
                    {{incomes | number:'1.2-2':'en-US'}} ALL
                </div>
                <div class="total-incomes-description {{sharedService.theme}}-title">
                    Total Income so far.
                </div>
            </div>
        </mat-card>

        <mat-card class="{{sharedService.theme}}-table {{sharedService.theme}}-dashboard-card dashboard-card">
            <div class="incomes-title fw-500 {{sharedService.theme}}-title">
                Average daily income
            </div>
            <div class="total-incomes-container">
                <div class="total-incomes {{sharedService.theme}}-title" style="position: relative;">
                    {{averageDailyIncome | number:'1.2-2':'en-US'}} ALL
                    <span *ngIf="increaseInIncome>0" class="percentage-badge percentage-up">
                        <span>↑</span>{{increaseInIncome | number:'1.2-2':'en-US'}}%
                    </span>
                    <span *ngIf="increaseInIncome<0" class="percentage-badge percentage-down">
                        <span>&darr;</span>{{increaseInIncome | absoluteValue | number:'1.2-2':'en-US'}}%
                    </span>
                    <span *ngIf="increaseInIncome==0" class="percentage-badge">
                        {{increaseInIncome | absoluteValue | number:'1.2-2':'en-US'}}%
                    </span>
                </div>
                <div class="total-incomes-description {{sharedService.theme}}-title">
                    Average daily income so far.
                </div>
            </div>
        </mat-card>

    </div>
</div>