<div class="cards-container">
    <div class="avg-card-cnt">
        <mat-card class="dashboard-card expense-card">
            <div>
                <div class="fw-500 title">
                    Expenses
                </div>
                <div class="total-incomes-container">
                    <div class="total-incomes title">
                        {{expenses | number:'1.2-2':'en-US'}} ALL
                    </div>
                    <div *ngIf="breakpointService.screenSize != 'mobile'" class="total-incomes-description title">
                        Total Expenses so far.
                    </div>
                </div>
            </div>
            
        </mat-card>

        <mat-card style="display: flex;align-items: center;" class="dashboard-card">
            <div>
                <div class="card-color incomes-title fw-500">
                    Avg. daily expense
                </div>
                <div class="total-incomes-container">
                    <div class="total-incomes card-color" style="position: relative;">
                        {{averageDailyExpenses | number:'1.2-2':'en-US'}} ALL
                        <span *ngIf="increaseInExpense>0" class="percentage-badge percentage-down">
                            <span>↑</span>{{increaseInExpense | number:'1.2-2':'en-US'}}%
                        </span>
                        <span *ngIf="increaseInExpense<0" class="percentage-badge percentage-up">
                            <span>&darr;</span>{{increaseInExpense | absoluteValue | number:'1.2-2':'en-US'}}%
                        </span>
                        <span *ngIf="increaseInExpense==0" class="percentage-badge">
                            {{increaseInExpense | absoluteValue | number:'1.2-2':'en-US'}}%
                        </span>
                    </div>
                    <div *ngIf="breakpointService.screenSize != 'mobile'" class="total-incomes-description card-color">
                        Average daily expenses so far.
                    </div>
                </div>
            </div>

        </mat-card>
    </div>

    <div class="avg-card-cnt">

        <mat-card class="dashboard-card">
            <div class="incomes-title card-color fw-500">
                Incomes
            </div>
            <div class="total-incomes-container">
                <div class="total-incomes card-color">
                    {{incomes | number:'1.2-2':'en-US'}} ALL
                </div>
                <div *ngIf="breakpointService.screenSize != 'mobile'" class="total-incomes-description card-color">
                    Total Income so far.
                </div>
            </div>
        </mat-card>

        <mat-card class="dashboard-card">
            <div class="incomes-title fw-500 card-color">
                Avg. daily income
            </div>
            <div class="total-incomes-container">
                <div class="total-incomes card-color" style="position: relative;">
                    {{averageDailyIncome | number:'1.2-2':'en-US'}} ALL
                    <span *ngIf="increaseInIncome>0" class="percentage-badge percentage-up">
                        <span>↑</span>{{increaseInIncome | number:'1.2-2':'en-US'}}%
                    </span>
                    <span *ngIf="increaseInIncome<0" class="percentage-badge percentage-down">
                        <span>&darr;</span>{{increaseInIncome | absoluteValue | number:'1.2-2':'en-US'}}%
                    </span>
                    <span *ngIf="increaseInIncome==0" class="percentage-badge">
                        {{increaseInIncome | absoluteValue | number:'1.2-2':'en-US'}}%
                    </span>
                </div>
                <div *ngIf="breakpointService.screenSize != 'mobile'" class="total-incomes-description card-color">
                    Average daily income so far.
                </div>
            </div>
        </mat-card>

    </div>
</div>