<div class="add-option-container">
    <div *ngIf="createMode || editMode" class="input-container" [@inAnimation]>
        <form [formGroup]="formGroup" class="input-width">
            <mat-form-field class="my-form-field w-full" [appearance]="appearance">
                <mat-label>Create new option</mat-label>
                <input formControlName="item" matInput>
            </mat-form-field>
        </form>

        <div class="action-container">
            <button mat-icon-button (click)="addItem()">
                <mat-icon>
                    check
                </mat-icon>
            </button>

            <button mat-icon-button (click)="cancel()">
                <mat-icon>
                    close
                </mat-icon>
            </button>
        </div>
    </div>

    <button *ngIf="!createMode && !editMode" [@inOutAnimation] mat-icon-button color="primary" (click)="create()">
        <mat-icon>
            add
        </mat-icon>
    </button>
</div>