<create-form icon="library_books" [entity]="entity" [editMode]="editMode" (close)="closeDialog($event)" (create)="add()">
    <form [formGroup]="categoryGroup">
        <mat-form-field class="{{sharedService.theme}}-text" appearance="outline" style="width: 100%;">
            <mat-label class="{{sharedService.theme}}-text">Category</mat-label>
            <input type="text" autocomplete="off" matInput formControlName="category">
            <mat-error>This field is required.</mat-error>
        </mat-form-field>

        <mat-form-field class="{{sharedService.theme}}-text" appearance="outline" style="width: 100%;">
            <mat-label class="{{sharedService.theme}}-text">Description</mat-label>
            <input type="text" autocomplete="off" matInput formControlName="description">
            <mat-error>This field is required.</mat-error>
        </mat-form-field>
        <app-icon-select style="display:block; margin-bottom: 1.34375em;" [selectedIcon]="icon.value"
            (onIconSelect)="onIconSelect($event)"></app-icon-select>
    </form>
</create-form>