<create-form icon="library_books" [entity]="entity" [editMode]="editMode" (close)="closeDialog($event)" (create)="add()" style="position: relative;
width: 100%;
height: 100%;
display: block;">
    <form [formGroup]="categoryGroup">
        
        <div style="width: 100%;display: flex;justify-content: space-between;align-items: center;">
            <mat-form-field class="{{sharedService.theme}}-text" appearance="outline" style="width: 60%;">
                <mat-label class="{{sharedService.theme}}-text">Category</mat-label>
                <input type="text" autocomplete="off" matInput formControlName="category">
                <mat-error>This field is required.</mat-error>
            </mat-form-field>

            <div style="width: 39%;">
                <select-icon [inputPlaceHolder]="icon?.value" (onSelect)="onIconSelect($event)"></select-icon>
            </div>
        </div>
        
        <mat-form-field class="{{sharedService.theme}}-text" appearance="outline" style="width: 100%;">
            <mat-label class="{{sharedService.theme}}-text">Description</mat-label>
            <input type="text" autocomplete="off" matInput formControlName="description">
            <mat-error>This field is required.</mat-error>
        </mat-form-field>
        
    </form>

</create-form>


