.shadow {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: calc(100% + 70px);
    background: #00000061;
    z-index: 1;
}

.custom-progress-bar {
    position: absolute;
    left: 0;
    top: -10px;
}