<div class="table-container {{sharedService.theme}}-table">
    <div class="titulli">
        <mat-icon class="{{sharedService.theme}}-icon">bar_chart</mat-icon>
        <span class="title">Statistikat</span>
    </div>
    <div class="table-actions {{sharedService.theme}}-text">
        <mat-icon (click)="refreshData()" class="pointer no-select {{sharedService.theme}}-icon" style="float: right;margin-left: 10px">refresh</mat-icon>
    </div>
</div>

<div class="book-table" *ngIf="dataSource.length !== 0">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 {{sharedService.theme}}-table" style="width: 95%;">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef class="centered-text {{sharedService.theme}}-text"> Renditja </th>
            <td mat-cell *matCellDef="let element; let i = index;" class="centered-text {{sharedService.theme}}-text">
                <span *ngIf="i==0" class="top-position first-place no-select">1</span>
                <span *ngIf="i==1" class="top-position second-place no-select">2</span>
                <span *ngIf="i==2" class="top-position third-place no-select">3</span>
                <span *ngIf="i!=2 && i!=1 && i!=0">{{i + 1}}</span>

            </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef class="centered-text {{sharedService.theme}}-text"> Emri </th>
            <td mat-cell *matCellDef="let element" class="centered-text {{sharedService.theme}}-text"> {{element?.firstName}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef class="centered-text {{sharedService.theme}}-text"> Mbiemri </th>
            <td mat-cell *matCellDef="let element" class="centered-text {{sharedService.theme}}-text"> {{element?.lastName}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="numberOfBooksRead">
            <th mat-header-cell *matHeaderCellDef class="centered-text {{sharedService.theme}}-text"> Libra Te Lexuar </th>
            <td mat-cell *matCellDef="let element" class="centered-text {{sharedService.theme}}-text"> {{element?.numberOfBooksRead}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row;columns: displayedColumns;"></tr>
    </table>
</div>
<div class="book-table" *ngIf="dataSource.length !== 0">
    <mat-paginator [length]="totalItems" class="{{sharedService.theme}}-table {{sharedService.theme}}-text" [pageSize]="size " [pageSizeOptions]="[5, 10, 25, 100] " (page)="paginatorEvent($event) " style="box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px
        3px 14px 2px rgba(0, 0, 0, 0.12); position: sticky;bottom: 0;width:95% ">
    </mat-paginator>

</div>

<div class="no-item-message " *ngIf="dataSource.length===0 ">
    <div class="message-container ">
        <mat-icon style=" color: #3f51b5; width: 70px; height: 70px; font-size: 70px; " class="no-select ">info</mat-icon>
        <span class="message no-select ">Tabela eshte bosh!</span>
    </div>
</div>