<div class="dash-picker">
    <button type="button" cb-icon-button (click)="previousWeek()"
        matTooltip="Previous week" matTooltipPosition="below" aria-label="Previous week">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

    <button type="button" class="dash-picker__label" (click)="picker.open()" aria-label="Pick a week">
        <mat-icon class="dash-picker__cal">event</mat-icon>
        <span class="dash-picker__text">{{from | date: 'dd MMM'}} – {{displayEnd | date: 'dd MMM yyyy'}}</span>
    </button>

    <button type="button" cb-icon-button (click)="nextWeek()"
        matTooltip="Next week" matTooltipPosition="below" aria-label="Next week">
        <mat-icon>keyboard_arrow_right</mat-icon>
    </button>

    <mat-form-field class="dash-picker__hidden">
        <input matInput [matDatepicker]="picker" [value]="from" (dateChange)="onDatePicked($event.value)">
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
