.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.0%;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 11px;
}

.title {
    font-size: 16px;
}

.toolbar {
    top: 0 !important;
    display: flex !important;
    justify-content: space-between !important;
    position: sticky !important;
    z-index: 2 !important;
}

.light {
    background: #305680 !important;
}

.dark {
    background: #1d252a !important;
}

.titulli {
    display: flex;
    padding: 25px 25px;
    font-size: 25px;
    color: #9F9F9F;
    font-weight: 200;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}