<mat-toolbar class="toolbar {{sharedService.theme}}" *ngIf="authenticationService.currentUserValue">
    <span>
        <button *ngIf="sharedService.mobileView" class="menu-item" mat-icon-button (click)="sidebarService.toggleSideBar()" style="margin-left: 18px;">
            <mat-icon class="{{sharedService.theme}}-icon">
                menu
            </mat-icon>
        </button>
    </span>
    <div class="menu-container">

        <div *ngIf="!sharedService.mobileView" class="menu-item pointer" (click)="toggleDarkMode()">
            <i *ngIf="!this.configuration?.darkMode" style="font-size: 30px;" class="material-icons {{sharedService.theme}}-icon">nights_stay</i>
            <mat-icon *ngIf="this.configuration?.darkMode" class="fullscreen-icon {{sharedService.theme}}-icon">wb_sunny</mat-icon>
        </div>

        <div class="flex-centered">
            <button class="user-name-button" mat-icon-button color="primary" [matMenuTriggerFor]="userMenu">
                <div class="user-name fw-500 {{sharedService.theme}}-user-circle">
                    {{authenticationService?.currentUserValue?.firstName[0]}}{{authenticationService?.currentUserValue?.lastName[0]}}
                </div>
            </button>
            <div [matMenuTriggerFor]="userMenu" class="pointer arrow-down-container">
                <mat-icon class="menu-item {{sharedService.theme}}-icon" style="margin-right: 0;">keyboard_arrow_down</mat-icon>
            </div>
            
            <mat-menu xPosition="before" class="{{sharedService.theme}}-user-menu user-menu" #userMenu="matMenu">
                <button mat-menu-item>Logged in as {{authenticationService?.currentUserValue?.firstName}} {{authenticationService?.currentUserValue?.lastName}}</button>
                <mat-divider style="width: 100%;"></mat-divider>
                <button mat-menu-item [matMenuTriggerFor]="themes"><mat-icon>color_lens</mat-icon> Themes</button>
                <mat-divider style="width: 100%;"></mat-divider>
                <button (click)="logout()" mat-menu-item> <mat-icon class="{{sharedService.theme}}-icon">exit_to_app</mat-icon>Logout</button>
            </mat-menu>

            <mat-menu #themes="matMenu">
                <button 
                    *ngFor="let theme of themesArray"
                    mat-menu-item 
                    class="flex-centered" 
                    style="justify-content: inherit;" 
                    (click)="changeThemeColor(theme.color)">
                        <div class="round" [style.background-color]="theme.color"></div> 
                        <span>{{theme.name}}</span>
                    </button>
                
              </mat-menu>
            
        </div>
        <mat-divider [vertical]="true" class="vertical-divider"></mat-divider>
        <div *ngIf="!sharedService.mobileView" class="menu-item" style="margin-right: 0;">
            <div class="current-date-container">
                <span class="current-date fw-800">{{currentDate | date: 'h:mm:ss'}}</span>
                <span style="margin-top: -5px;" class="mt-10 current-date">{{currentDate | date: 'd-MM-yyyy'}}</span>
            </div>
        </div>
    </div>
</mat-toolbar>