<mat-toolbar class="toolbar {{sharedService.theme}}" *ngIf="authenticationService.currentUserValue">
    <span style="display: flex;align-items: center;">
        <img src="../../../assets/images/logo.png" style="height: 38px;">
    </span>
    <div class="menu-container">
        <div class="menu-item pointer" (click)="toggleFullScreenMode()" style="color: white;">
            <mat-icon class="{{sharedService.theme}}-icon" style="width: 28px;height: 28px;font-size: 28px;">{{fullScreenMode ? 'fullscreen_exit' : 'fullscreen'}}</mat-icon>
        </div>
        <div class="menu-item" style="color: white;">
            <mat-icon class="{{sharedService.theme}}-icon">access_time</mat-icon>
            <span style="margin-left: 5px;margin-top: 2px;
            font-weight: 200;
            font-size: 15px;">{{currentDate | date: 'medium'}}</span>
        </div>
        <div class="menu-item pointer" style="color: white;" (click)="logout()">
            <mat-icon class="{{sharedService.theme}}-icon">exit_to_app</mat-icon>
        </div>
    </div>
</mat-toolbar>