<style>
    /* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1d252a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff6347;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff4524;
}
</style>

<div class="container" #container>
    <div class="{{sharedService.theme}}-border selected-icon flex-centered no-select pointer" (click)="toggleDropdown()">
        <mat-icon class="{{sharedService.theme}}-icon-2 custom-icon-size">
            {{selectedIcon ? selectedIcon: 'add'}}
        </mat-icon>
    </div>

    <div class="icon-dropdown {{sharedService.theme}}-table" [@inOutAnimation] *ngIf="showDropdown">
        <div *ngFor="let icon of icons">
            <div class="size flex-centered no-select pointer {{sharedService.theme}}-border" (click)="selectIcon(icon)">
                <mat-icon class="{{sharedService.theme}}-icon-2 custom-icon-size">{{icon}}</mat-icon>
            </div>
        </div>
    </div>

    <div class="{{sharedService.theme}}-border select-icon-button flex-centered no-select pointer" (click)="toggleDropdown()">
       Select Icon
    </div>    
</div>