<div class="header">
    <span class="{{sharedService.theme}}-text header-title">
        {{income?.name | titlecase}}
    </span>
    <div class="actions">
        <button mat-icon-button class="close-button" (click)="closeDrawer()">
            <mat-icon class="{{sharedService.theme}}-icon">
                close
            </mat-icon>
        </button>
    </div>
</div>

<div class="title-container">
    <span class="expense-view-title fw-400 {{sharedService.theme}}-text">
        Time
    </span>
</div>

<div class="expense-date-container">
   <span class="{{sharedService.theme}}-text">
       Created Time
   </span>
   <span class="{{sharedService.theme}}-text expense-date">
    {{ income?.createdTime | date:'dd/MM/yyyy - HH:mm'}}
   </span>
   
</div>

<div class="expense-date-container">
    <span class="{{sharedService.theme}}-text">
        Last Updated
    </span>
    <span class="{{sharedService.theme}}-text expense-date">
     {{ income?.lastModifiedDate | date:'dd/MM/yyyy - HH:mm'}}
    </span>
 </div>

 <mat-divider></mat-divider>

 <div class="title-container">
    <span class="expense-view-title fw-400 {{sharedService.theme}}-text">
        Info
    </span>
</div>

<div class="expense-date-container">
    <span class="{{sharedService.theme}}-text">
        Income Name
    </span>
    <span class="{{sharedService.theme}}-text expense-date">
     {{ income?.name | titlecase}}
    </span>
 </div>
 
 <div class="expense-date-container">
     <span class="{{sharedService.theme}}-text">
         Income
     </span>
     <span class="{{sharedService.theme}}-text expense-date">
      {{ income?.incoming | number:'1.0':'en-US'}} ALL
     </span>
</div>
<mat-divider></mat-divider>
<div class="title-container">
    <span class="expense-view-title fw-400 {{sharedService.theme}}-text">
        Category
    </span>
</div>
<div class="expense-date-container {{sharedService.theme}}-text">
    <span>
        Category
    </span>
    {{ income?.categoryID}}
</div>
<mat-divider></mat-divider>
<div class="title-container">
    <span class="expense-view-title fw-400 {{sharedService.theme}}-text">
        Notes
    </span>
</div>

<div class="expense-date-container {{sharedService.theme}}-text">
    {{ (income?.description) ? income?.description : 'No note recorded'}}
</div>

{{income | json}}