<div class="action-container">
    <button mat-icon-button color="primary">
        <mat-icon class="{{sharedService.theme}}-icon {{sharedService.theme}}-view-button">open_in_new</mat-icon>
    </button>
    <button mat-icon-button (click)="emitEditAction()">
        <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="emitDeleteAction()">
        <mat-icon>delete</mat-icon>
    </button>
</div>

<button class="mobile-action-container" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
</button>
    
<mat-menu class="{{sharedService.theme}}-mobile-action-menu" #menu="matMenu">
    <button mat-menu-item>
        <mat-icon class="{{sharedService.theme}}-icon {{sharedService.theme}}-view-button">open_in_new</mat-icon>
        <span class="{{sharedService.theme}}-text">View</span>
    </button>
    <button mat-menu-item (click)="emitEditAction()">
        <mat-icon style="color: #9F9F9F !important;">edit</mat-icon>
        <span class="{{sharedService.theme}}-text">Edit</span>
    </button>
    <button mat-menu-item (click)="emitDeleteAction()">
        <mat-icon color="warn">delete</mat-icon>
        <span class="{{sharedService.theme}}-text">Delete</span>
    </button>
</mat-menu>