<div class="action-container">
    <div style="display: flex;width: 120px;height: 48px;align-items: center;justify-content: center;">
        <button matTooltip="View" matTooltipPosition="below" matTooltipClass="sidebar-tooltip" mat-icon-button color="primary" (click)="emitViewAction($event)">
            <mat-icon class="view-action">open_in_new</mat-icon>
        </button>
        <button matTooltip="Edit" matTooltipPosition="below" matTooltipClass="sidebar-tooltip" *ngIf="displayEditAction" mat-icon-button (click)="emitEditAction($event)">
            <mat-icon>edit</mat-icon>
        </button>
        <button matTooltip="Delete" matTooltipPosition="below" matTooltipClass="sidebar-tooltip" *ngIf="displayDeleteAction" mat-icon-button color="warn" (click)="emitDeleteAction($event)">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>
