
tr {
    width: 100%; 
    display: table; 
    table-layout: fixed;
}

thead {
    width: 100% !important;
    table-layout: fixed !important;
    display: table !important;
} 

table {
    width: 100%;
    table-layout: fixed;
    display: block;
    height: calc(100% - 65px); 
}