<mat-drawer-container class="drawer-table-container" autosize>
    <mat-drawer #drawer class="sidenav {{sharedService.theme}}-table" mode="over" position="end"
        (closed)="onSidenavClose()">
        <history-details *ngIf="isSidenavOpened" (onCloseAction)="drawer.toggle()" [historyId]="historyId">
        </history-details>
    </mat-drawer>
    
    <base-table [data]="data" [columnDefinition]="columnDefinition" (onViewDetails)="viewDetails($event)"
        (onScroll)="onScroll()" [filterOptions]="filterOptions" [tableActionInput]="tableActionInput"
        (onRefresh)="resetAndQuery()" (onSearch)="onSearch($event)" (onReset)="reset()"></base-table>

</mat-drawer-container>