<mat-drawer-container class="drawer-table-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="over" position="end"
        (closed)="onSidenavClose()">
        <history-details *ngIf="isSidenavOpened" [historyId]="entityViewId" (onCloseAction)="drawer.toggle()">
        </history-details>
    </mat-drawer>

    <base-table [data]="data$ | async" [columnDefinition]="columnDefinition"
        [total]="totalItems$ | async"
        (onDeleteConfirmation)="openDeleteConfirmDialog($event)" (onAddEditForm)="openAddEditForm($event)"
        (onViewDetails)="viewDetails($event)" (nextPage)="onNextPage($event)" (loadMore)="loadMore()"
        [loading]="loading()"
        [pageIndex]="page" [loadingMore]="loadingMore()"
        [filterOptions]="filterOptions" [tableActionInput]="tableActionInput" (onOpenDialog)="openAddEditForm()"
        (onRefresh)="refresh()" (onSearch)="onSearch($event)" (onReset)="resetAndQuery()"
        (layoutModeChange)="refresh()" [displayEditAction]="false"
        [displayViewAction]="false">
    </base-table>

</mat-drawer-container>