<div style="width: 62%;height: 40px;display: flex;justify-content: space-evenly;align-items: center;margin-top: 15px;">
    <button mat-icon-button [disabled]="increased === 0">
        <mat-icon (click)="decreaseYear()">keyboard_arrow_left</mat-icon>
    </button>
    <span style="max-width: 47px;overflow: hidden;"> 
        <span style="display: flex;" id="year-container">
            <span *ngFor="let year of avalaibleYears" style="min-width: 50px;">
                {{year}}
            </span>
        </span>
    </span>
    <button mat-icon-button [disabled]="increased === avalaibleYears.length - 1">
        <mat-icon (click)="increaseYear()">keyboard_arrow_right</mat-icon>    
    </button>
</div>


<div class="month-container">
    <div *ngFor="let month of months" class="month-class" [ngClass]="{'active': month === months[selectedMonth]}" (click)="selectMonth(month)">
    <span>
        {{month}}
    </span>
        
</div>
</div>
