<div class="mt-1 mb-1">
    
    <mat-card class="mt-1 {{sharedService.theme}}-table {{sharedService.theme}}-dashboard-card category-card" *ngFor="let categoryData of expenseCategoriesData">
        <div class="incomes-title fw-500 {{sharedService.theme}}-title flex align-center">
            <mat-icon>{{categoryData.icon}}</mat-icon> 
            <span class="ml-1">
                {{categoryData._id}}
            </span>
        </div>
        <div class="total-incomes-container">
            <div class="total-incomes {{sharedService.theme}}-title" style="position: relative;">
                {{categoryData.total | number:'1.2-2':'en-US'}} ALL
                <!-- <span *ngIf="true" class="percentage-badge percentage-up">
                    <span>↑</span>{{10 | number:'1.2-2':'en-US'}}%
                </span>
                <span *ngIf="false" class="percentage-badge percentage-down">
                    <span>&darr;</span>{{10 | absoluteValue | number:'1.2-2':'en-US'}}%
                </span>
                <span *ngIf="true" class="percentage-badge">
                   {{10 | absoluteValue | number:'1.2-2':'en-US'}}%
                </span> -->
            </div>
            <div class="total-incomes-description {{sharedService.theme}}-title">
                Money spent so far.
            </div>
        </div>
    </mat-card>
     
</div>