<div class="mt-1 mb-1">
    
    <mat-card class="mt-1 {{sharedService.theme}}-table {{sharedService.theme}}-dashboard-card category-card" *ngFor="let categoryData of expenseCategoriesData">
        <div class="incomes-title fw-500 {{sharedService.theme}}-title flex align-center">
            <mat-icon>{{categoryData.icon}}</mat-icon> 
            <span class="ml-1">
                {{categoryData._id}}
            </span>
        </div>
        <div class="total-incomes-container">
            <div class="total-incomes {{sharedService.theme}}-title" style="position: relative;">
                {{categoryData.total | number:'1.2-2':'en-US'}} ALL
            </div>
            <div class="total-incomes-description {{sharedService.theme}}-title">
                Money spent so far.
            </div>
        </div>
    </mat-card>

    <div *ngIf="expenseCategoriesData?.length == 0" 
        class="{{sharedService.theme}}-title"
    style="height: 250px;display: flex;align-items: center;justify-content: center;">
        <mat-icon style="    font-size: 60px;
        height: 60px;
        width: 60px;">
            insert_chart_outlined
        </mat-icon>
        <div style="font-size: 22px;">
            Your expenses will appear here
        </div>
        
    </div>
     
</div>