<div class="application-container">

    <side-bar [ngClass]="sharedService.mobileView ? 'display-none' : ''" *ngIf="authenticationService.currentUserValue"
        [navigation]="navigation" [sideBarMode]="sideBarMode"></side-bar>

    <div [ngClass]="authenticationService.currentUserValue ? 'app-width' : 'app-full-width'"
        class="application {{sharedService.theme}}-body" id="application-body"
        [ngStyle]="{'margin-left': sideBarMode!='over' ? '0' : '76px' }"
        >
        <div class="shadow" id="shadow" (click)="toggleSidebar()"></div>
        <nav-bar></nav-bar>
        <mat-progress-bar class="progress-bar {{sharedService.theme}}" mode="indeterminate" [@inOutAnimation]
            *ngIf="sharedService.stillLoading && sharedService.isSpinnerEnabled"
            style="position: absolute;top: 64px;left:0;z-index: 2;"></mat-progress-bar>
        <ng-content></ng-content>
    </div>
</div>