<div [@routeAnimations]="prepareRoute()" class="application-container">

    <side-bar *ngIf="authenticationService.currentUserValue && sideBarService.displaySidebar" [navigation]="navigation"
        [sideBarMode]="sideBarMode"></side-bar>

    <div class="application {{sharedService.theme}}" id="application-body"
        style="position: relative;overflow: hidden;"
        [ngStyle]="{'margin-left': (sideBarMode!='over' || !authenticationService.currentUserValue) ? '0' : '76px' }"
        [ngClass]="authenticationService.currentUserValue ? 'app-width' : 'app-full-width'">
        <div class="shadow" id="shadow" *ngIf="sideBarMode=='over'" (click)="toggleSidebar()"></div>
        <nav-bar *ngIf="navBarService.displayNavBar"></nav-bar>
        <div class="content-container {{sharedService.theme + '-body'}}">
            <ng-content></ng-content>
        </div>
    </div>
</div>