.icon-select {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: calc(100% + 70px);
    z-index: 1;
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

.actions {
    padding: 20px;
    display: flex;
    align-items: center;
}

.icons {
    overflow: auto;
    display: grid;
    grid-template-columns: 106px 106px 106px 106px 106px 106px;
    row-gap: 14px;
    justify-content: space-evenly;
    max-height: calc(100% - 30px);
    padding-top: 15px;
    padding-bottom: 15px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: box-shadow 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
    aspect-ratio: 1;
    border-radius: 5px;
    flex-direction: column;
}

.icon:hover {
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

.icon > mat-icon {
    transition: color 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.selected-icon {
    margin-right: 10px;
    font-size: 20px;
    height: 20px;
    width: 20px;
    margin-top: -2px;
}

.icon > mat-icon {
    width: 36px;
    height: 36px;
    font-size: 36px;
}