<div class="container">
    <span style="margin-left: 60px;font-size: 20px;font-family: 'Lato', sans-serif;position: relative;cursor: pointer;">
        <span (click)="switchDatePicker()" id="selectedDateId" style="display: flex;
        justify-content: center;
        align-items: center;">
            <mat-icon >calendar_today</mat-icon> 
            <span style="margin-left: 5px;">
                From: {{dateFrom | date:'dd/MM/yyyy'}} - To: {{dateTo | date:'dd/MM/yyyy'}}
            </span>
        </span>
        
        <app-date-picker [@datePickerAnimation] (dateSelected)="onDateSelected($event)" class="{{sharedService.theme}}-sb9 sb9 mat-elevation-z8 {{sharedService.theme}}-body"  *ngIf="showDatePicker"></app-date-picker>
        <!-- <span class="no-select" style="margin-left: 40px;position: relative;cursor: pointer;">
            <span (click)="switchDatePicker()" id="selectedDateId">{{months[dateFrom?.getMonth()]}} {{dateFrom?.getFullYear()}}</span>
            
        </span> -->
    </span>

    <div class="current-balance">
        <span [@inOutAnimation] *ngIf="!hideBalance">
             {{ account?.balance | number:'1.0':'en-US' }} ALL
        </span> 
        <span [@inOutAnimation] *ngIf="hideBalance" style="margin-top: 6px;">
            {{hiddenBalance}}
        </span>
        <button mat-icon-button style="margin-bottom: 5px;" (click)="toggleHideBalance()">
            <mat-icon>remove_red_eye</mat-icon>
        </button>
    </div>
</div>