<div class="container {{sharedService.theme}}-title">

    <span  id="selectedDateId">
        <mat-icon (click)="switchDatePicker()" class="selected-date-icon">calendar_today</mat-icon> 
        <span (click)="switchDatePicker()" class="selected-date-container">
            <span>
                From: {{dateFrom | date:'dd/MM/yyyy'}}
            </span>

            <span class="date-divider">
                -
            </span>

            <span>
                To: {{dateTo | date:'dd/MM/yyyy'}}
            </span>
        </span>
        <mat-calendar 
            (selectedChange)="onDateSelected($event)"    
            [@datePickerAnimation] 
            [startAt]="dateFrom"
            class="{{sharedService.theme}}-custom-calendar custom-calendar {{sharedService.theme}}-body" 
            *ngIf="showDatePicker"></mat-calendar>
    </span>

    <div class="current-balance">

        
    </div>
</div>