<div class="container {{sharedService.theme}}-title">

    <span  id="selectedDateId">
        <mat-icon (click)="switchDatePicker()" class="selected-date-icon">calendar_today</mat-icon> 
        <span (click)="switchDatePicker()" class="selected-date-container">
            <span>
                From: {{dateFrom | date:'dd/MM/yyyy'}}
            </span>

            <span class="date-divider">
                -
            </span>

            <span>
                To: {{dateTo | date:'dd/MM/yyyy'}}
            </span>
        </span>
        <mat-calendar 
            (selectedChange)="onDateSelected($event)"    
            [@datePickerAnimation] 
            class="custom-calendar {{sharedService.theme}}-body" 
            *ngIf="showDatePicker"></mat-calendar>
    </span>

    <div class="current-balance">
        <span [@inOutAnimation] *ngIf="!hideBalance">
             {{ account?.balance | number:'1.0':'en-US' }} ALL
        </span> 
        <span [@inOutAnimation] *ngIf="hideBalance" style="margin-top: 6px;">
            {{hiddenBalance}}
        </span>
        <button mat-icon-button (click)="toggleHideBalance()">
            <mat-icon>remove_red_eye</mat-icon>
        </button>
    </div>
</div>