<div class="dash-picker">
    <button type="button" cb-icon-button (click)="previousYear()" aria-label="Previous year">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

    <button type="button" class="dash-picker__label" (click)="picker.open()" aria-label="Pick a year">
        <mat-icon class="dash-picker__cal">event</mat-icon>
        <span class="dash-picker__text">{{from | date: 'yyyy'}}</span>
    </button>

    <button type="button" cb-icon-button (click)="nextYear()" aria-label="Next year">
        <mat-icon>keyboard_arrow_right</mat-icon>
    </button>

    <mat-form-field class="dash-picker__hidden">
        <input matInput [matDatepicker]="picker" [value]="from">
        <mat-datepicker #picker startView="multi-year" (yearSelected)="onYearPicked($event, picker)"></mat-datepicker>
    </mat-form-field>
</div>
