<div class="container">
    <span></span>
    <div class="actions">
        <mat-icon class="pointer {{sharedService.theme}}-icon" (click)="closeDialog()">close</mat-icon>
    </div>
</div>
<div class="message">
    Are you sure you want to delete this item? This action is irreversible.
</div>
<div class="commands">
    <button mat-raised-button class="yes-button" (click)="confirm(false)">NO</button>
    <button mat-raised-button color="warn" (click)="confirm(true)" class="{{sharedService.theme}}-confirm-button">YES</button>
</div>