.container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: -15px;
    margin-left: 15px;
    color: var(--primary-text);
}

.message {
    width: 100%;
    text-align: center;
    color: var(--card-title);
    padding: 5px 0;
}

.commands {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.mr-5px {
    margin-right: 5px;
}