
<!-- TABLE - ACTIONS: CREATE, REFRESH, SEARCH -->
<div class="table-container {{sharedService.theme}}-table">
    <div class="title-container">
        <mat-icon class="{{sharedService.theme}}-icon {{sharedService.theme}}-title">{{tableActionInput?.icon}}</mat-icon>
        <span class="title {{sharedService.theme}}-title">{{tableActionInput?.pageName}}</span>
    </div>
    
    <div class="table-actions action-container {{sharedService.theme}}-text" *ngIf="!sharedService.mobileView">
        <mat-icon (click)="refresh()" class="pointer no-select {{sharedService.theme}}-icon" style="float: right;margin-left: 10px">refresh</mat-icon>
        <mat-icon *ngIf="!tableActionInput?.extra?.hideInsertButton" (click)="openDialog()" class="pointer no-select {{sharedService.theme}}-icon" style="float: right;">add</mat-icon>
        <mat-icon class="pointer no-select {{sharedService.theme}}-icon" style="float: right;margin-right: 9px">search</mat-icon>
    </div>
</div>