.application-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.sidebar {
    width: 60px;
    z-index: 3;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    transition: width 300ms linear;
}

.light {
    background: #305680;
}

.dark {
    background: #1d252a;
}

.light-body {
    background: white;
}

.dark-body {
    background: #111619;
}

.application {
    overflow-y: auto;
    transition: width 300ms linear;
    width: 100%;
    z-index: 1;
}

.mat-form-field-flex {
    background-color: white !important;
}

.spinner-container {
    width: 100%;
    height: calc(100% - 64px);
    position: absolute;
    right: 0;
    background-color: black;
    opacity: 0.6;
    z-index: 5;
    bottom: 0;
}